.faq {
    display: block;
    margin: 1em auto;
    max-width: 1190px;
    position: relative;

    @media (min-width: 960px) {
        padding: 50px 80px;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        transform: rotate(45deg);
        transform-origin: center;
        background: inherit;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.faq-homepage {
  margin: 2em auto;
  
  @media (min-width: 740px) {
    margin: 4em auto;
  }
}

.faq-homepage__title {
    font-size: 32px;
    line-height: 40px;
    color: #333;
    margin-top: 14px;
    margin-bottom: 10px;
    color: $color-RO_darkblue;
    text-align: center;

    @media (min-width: 740px) {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}

.faq-homepage__more {
    margin: 30px 0;
    text-align: center;
    padding: 0 22px;

    @media (min-width: 740px) {
        margin-top: 20px 0;
    }

    @media (min-width: 960px) {
        margin: 40px 0;
    }
}

//
// Faq layout
//

.faq-layout__title {
    color: $color-RO_darkblue;
    background: $color-RO_lightblue;
    padding: 0.6em 20px;
}
.content-block .faq-layout__title{
    margin-bottom: 0;
}
.faq-layout-contents__list {
    position: relative;
    border: 1px solid rgba(21, 66, 115, 0.5);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;

    li {
        min-height: 50px;
    }

    li:first-child .faq-layout__item{
        border-top: none;
    } 
}

.faq-layout__item {
    display: block;
    position: relative;
    color: $color-RO_darkblue;
    border-top: 1px solid rgba(21, 66, 115, 0.5);
    padding: 0.8em 0.5em;
    font-size: 21px;
    line-height: 22px;
    width: 100%;

    &:hover {
        background-color: $color-RO_darkblue; /* RO donker link2 */;
        transition: var(--transition-in);
        color: white;

        &:after {
            background: url(../img/chevron-right-white.svg) center center no-repeat;
        }
    }

    &:focus {
        outline-offset: -2px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 6px;
        right: 5px;
        height: 40px;
        width: 40px;
        opacity: 0.62;
        border-radius: 2px;
        outline-offset: 8px;
        outline: 2px solid transparent;
        background: url(../img/chevron-right.svg) center center no-repeat;
        transition: var(--transition-out);
    }
}


//
//  Modifier for faq overview page
//

.faq-layout__contents.__overview {

    .faq-layout-contents__list {
        border: none;
        border-bottom: 1px solid rgba(21, 66, 115, 0.5);
        margin-left: 0em;
        border-radius: 0px;
    }
    .faq-layout-contents__list li {
        margin-bottom: 0px;
    }
    .faq-layout__item {
        padding: 14px 35px 14px 20px;
        font-size: 16px;
        color: #333333;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}
