.info-slider__slides {
    background: $color-RO_lichtblauw;
    border-radius: 0.6em;
    overflow: hidden;

    .swiper-container {
        padding: 0 0 50px 0; // Swiper pagination
    }

    @media (min-width: 960px) {
        border-radius: 0;
        min-height: 463px;

        .swiper-container {
            height: 463px;
            padding-bottom: 0;
        }
    }

    // Swipe.JS - Next / prev button
    .swiper-button-prev,
    .swiper-button-next {
        top: 77px;
        padding: 20px 20px 20px 20px;
        --swiper-theme-color: #{$color-RO_donkerblauw--interaction};
        --swiper-navigation-size: 32px;
        transition: var(--transition-out--fast);
        background: transparent;
        border: 0;
        z-index: 4;
        color: $color-RO_donkerblauw;

        &:hover {
            transform: scale(1.1);
            transition: var(--transition-in--fast);
            color: $color-RO_donkerblauw;
        }

        &:active {
            transform: scale(1.06);
            transition: var(--transition-out--fast);
        }

        &:focus {
            outline-color: #2A71C3;
        }

        &:focus:not(:focus-visible) {
            outline-color: transparent;
        }

        &:focus:not(.focus-visible)  {
            outline-color: transparent;
        }          

        @media (min-width: 740px) {
            top: calc(50% - 1rem);
        }

        @media (min-width: 960px) {
            top: auto;
            bottom: 12px;
            --swiper-navigation-size: 24px;

            .browser-ie-11 & {
                bottom: 2px;
            }
        }

        &:after {
            position: absolute;
        }

        .browser-ie-11 &:after {
            position: relative;
            content: '';
            border-left: 2px solid currentColor;
            border-top: 2px solid currentColor; 
            width: 20px;
            height: 20px;
            transform: rotate(-45deg);
            display: block;
        }
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;

        .browser-ie-11 &:after {
            transform: rotate(135deg);
        }
    }

    // Swipe.JS - Pagination
    .swiper-container-horizontal .swiper-pagination-bullets {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        @media (min-width: 960px) {
            bottom: 6px;
            position: absolute;
            z-index: 2;
            width: 100%;
        }

    }

    .swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 1rem 0.4rem;
        position: relative;
        width: 12px;
        height: 12px;
        background: #2A71C3;
        opacity: 1;
        transition: var(--transition-out);

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -1rem;
            right: -5px;
            bottom: -1rem;
            left: -5px;
        }

        &:hover {
            background: #{$color-RO_donkerblauw--interaction};
            transition: none;
        }

        &:focus {
            outline-color: #2A71C3;
        }
    
        &.swiper-pagination-bullet-active {
            background: #{$color-RO_donkerblauw--interaction};
            transition: var(--transition-in);
            transform: scale(1.38);

        }
    }
}

.info-slide {
    position: relative;
    margin: 0 -0.6rem;
    padding: 0.8em 1em 0 1em;
    color: $color-RO_donkerblauw--interaction;

    @media (min-width: 740px) and (max-width: 959px) {
        display: flex;
        padding: 2.4rem 4.4rem 0 5rem;
    }

    @media (min-width: 960px) {
        border-radius: 0;
        margin: 0 0 0 0;
        padding: 0;
        z-index: 1;
        height: 422px;
    }
}

.info-slide__graphic {
    margin: 0 0 0.2em 0;
    text-align: center;
    
    @media (min-width: 740px) and (max-width: 959px) {
        flex: 0 0 auto;
        width: 11.7rem;
        overflow: hidden;
        margin-right: 2rem;
        align-self: center;
    }

    img {
        max-width: calc(100% - 8rem);
        height: 138px;
        width: auto;

        &.__first-slide {
            margin-top: 1.0em;
            height: 220px;
        }


        @media (min-width: 740px) and (max-width: 959px) {
            height: 138px;
            width: auto;
            max-width: none;

            &.__first-slide {
                margin-top: 0em;
                height: 138px;
            }
    
        }

        @media (min-width: 960px) {
            height: 138px;
            width: auto;
            max-width: none;
            &.__first-slide {
                margin-top: 5.5em;
                height: 180px;
            }
        }
    }

    @media (min-width: 960px) {
        padding-top: 1em;
    }
}

.info-slide__text {
    padding: 0.2em 0.8em 0 1.2em;
    color: #333; 
    position: relative;
    z-index: 2;

    &.__first-slide {
        color: #333333;
        color: rgba(0, 0, 0, 0.8);
        padding-top: 0;
        text-align: center;
        font-size: 22px;
    }

    @media (min-width: 740px) and (max-width: 959px) {
        padding: 0.2em 0.8em 0 0;
        &.__first-slide {
            padding-top: 40px;
            font-size: 32px;
            left: -25px;
        }
    }
    
    h3 {
        margin-bottom: 0.5em;
        line-height: 1.4em;

        .md-highlight {
            color: $color-WARN_rood;
        }

        u {
            color: #000;
            text-decoration: none;
            border-bottom: #000 1px solid;
        }
    }

    p {
        line-height: 1.26em;

        @media (min-width: 960px) {
            line-height: 1.4em;
        }
    }

    @media (min-width: 960px) {
        padding: 1.4em;
    }
}

.browser-ie-11 .swiper-pagination {
  width: 100%;
  bottom: 9px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 1.0rem 0.3rem;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
  }
}
