
.statements {
    margin: 30px auto 22px auto;
    padding: 0 10px;
    max-width: 1190px;

    @media (min-width: 740px) {
        margin: 30px auto 22px auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -16px; // Compensate for statement tile margins
    }

    @media (min-width: 960px) {
        padding: 0 64px;
    }
}

.statements__statement {
    margin: 16px;
    flex-grow: 0;
    position: relative;

    @media (min-width: 740px) {
        width: calc(50% - 32px);
    }

    @media (min-width: 960px) {
        width: calc(33.333% - 32px);
    }
}

.statement-summary {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-position: left 25px top 25px;
    background-size: 42px;
    height: 100%;
    list-style-type: none;
    color: #333333;
    min-height: 138px;
    border-radius: 5px;
    box-shadow: 0 2px 9px -2px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    overflow: hidden;

    html.browser-ie-11 & {
        box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.26);
    }

    &:hover {
        background-color: #F5F5F5 /* lichtgrijs */;
    }
}

.statement__content {
    flex: 1 1 auto;
    padding: 18px 20px 0 85px;

    h2 {
        font-size: 1.5em;
        line-height: 1.26em;
        margin-bottom: 0.45rem;
        color: $color-RO_donkerblauw;
    }

    p {
        line-height: 1.38em;
        margin-bottom: 1.2rem;
    }
}

.statement-summary__btn-expand {
    flex: 0 0 auto;
    display: block;
    border: 0;
    border-radius: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0.8em 0.5em 1em 85px;
    margin: 0;
    color: $color-RO_donkerblauw;
    background: transparent;
    font-size: 1.1em;
    font-family: inherit;
    text-align: left;
    cursor: pointer;
    transition: var(--transition-in);

    &:after {
        // Make the whole .statement-summary clickable
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:focus {
        color: #fff;
        background-color: $color-RO_donkerblauw--interaction;
        transition: var(--transition-in--fast);
        outline: 0;
    }

    > .icon {
        position: relative;
        top: 1px;
        margin: 0 -0.4em 0 -0.4em;
    }
}

// 
//
//

.statement-summary__icon {
    position: absolute;
    top: 23px;
    left: 23px;
    
    svg {
        max-width: 42px;
        color: $color-WARN_rood;

        .statement-summary:hover & {
            color: $color-RO_donkerblauw--interaction;
        }
    }
}

.details__expanded-box {
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    width: calc(100% - 42px);
    border-radius: 10px 0 0 10px;
    transform: translate(110%, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    transition: 162ms ease-out;
    overflow-y: scroll;
    
    &:focus,
    &:focus-within {
        outline: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
    }

    .statements__statement--expanded & {
        visibility: visible;
        transform: translate(0, 0);
        transition: 262ms ease-out;
    }
}

//
//
//

.details__summary__expanded-box-background {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: 162ms ease-out;

    .statements__statement--expanded & {
        opacity: 1; 
        visibility: visible;
        transition: 262ms ease-out;
    }
}

.expanded-box__btn-collapse {
    display: block;
    padding: 15px 16px 10px 32px;
    width: 100%;
    border: 0;
    cursor: pointer;
    color: $color-RO_donkerblauw;
    background: transparent;
    font-family: inherit;
    font-size: 18px;
    text-align: left;
    outline-offset: -2px;

    .icon {
        position: relative;
        top: 3px;
    }
}

.expanded-box__btn-collapse--above-header {
    border-bottom: 1px solid rgba(21, 66, 115, 0.2);
    background-color: #F5F5F5 /* lichtgrijs */;
}

.expanded-box__header__icon {
    position: relative;
    display: block;
    float: left;
    margin-right: 25px;
    
    svg {
        max-width: 70px;
        color: $color-WARN_rood;

        details:hover & {
            color: $color-RO_donkerblauw;
        }
    }
}

.expanded-box__header__title {
    padding-top: 0.2em;
}

.expanded-box__want-to-know-more {
    margin: 1.5em 0em 2em;
    padding: 3.0em 2em;
    background-color: $color-RO_lichtblauw;

    > h3 {
        font-size: 26px;
        margin-bottom: 0.5em;
    }
    
    > p {
        margin-bottom: 0;
    }
}

.expanded-box__close {
    padding-top: 0.2em;
}
