.stories {
  margin: 30px auto 22px auto;
  padding: 0 10px;
  max-width: 1100px;

  @media (min-width: 740px) {
    margin: 30px auto 22px auto;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 960px) {
    padding: 0 5em;
  }
}

.stories__story {
  margin: 16px;
  padding-bottom: 16px;
 
  @media (min-width: 740px) {
    margin: 16px 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.stories__story-column-left {
  @media (min-width: 740px) {
    width: 50%;
    margin-left: 2.5em;
    text-align: right;
  }
}

.stories__story-column-right {
  @media (min-width: 740px) {
    width: 50%;
    margin-right: 2.5em;
  }
}

.stories__story:nth-child(2n) {
  flex-direction: row;

  .stories__story-column-left {
    @media (min-width: 740px) {
      margin-right: 2.5em;
      margin-left: 0;
      text-align: left;
    }
  }
  
  .stories__story-column-right {
    @media (min-width: 740px) {
      margin-right: 0;
      margin-left: 2.5em;
    }
  }
}

.stories__story-image {
  width: 100%;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  opacity: 0;
}

.stories__story-title-small {
  color: $color-WARN_rood;
  font-size: 16px;
  padding: 0.5em 0 0;
  
  @media (min-width: 740px) {
    padding: 0.8em 0;
  }
}

.stories__story-title {
  color: $color-RO_donkerblauw;
  font-size: 24px;
  padding: 0.1em 0 0.4em;
  font-weight: 800;

  @media (min-width: 740px) {
    font-size: 32px;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}