.js-enabled {
  .stories__story-image,
  .stories__story-title,
  .stories__story-title-small,
  .stories__story-text {
    opacity: 0;
  }
}

.stories {
  margin: 1em auto;
  max-width: 1100px;

  @media (min-width: 740px) {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
  }
}

.stories__story {
  padding: 0em 1.6em 2em;
  
  @media (min-width: 740px) {
    padding: 2em 0.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  @media (min-width: 960px) {
    padding: 2em 2.5em;
  }
}

.stories__story-column-image {
  margin-bottom: 1.0em;

  @media (min-width: 740px) {
    width: 50%;
    margin-left: 2.5em;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0em;
  }
}

.stories__story-column-content {
  @media (min-width: 740px) {
    width: 50%;
    margin-right: 2.5em;
  }
}

.stories__story:nth-child(2n) {
  flex-direction: row;
  .stories__story-column-image {
    @media (min-width: 740px) {
      margin-right: 2.5em;
      margin-left: 0;
      text-align: left;
      justify-content: flex-start;
    }
  }
  
  .stories__story-column-content {
    @media (min-width: 740px) {
      margin-right: 0;
      margin-left: 2.5em;
    }
  }
}

.stories__story-image {
  display: inline-block;
  width: 100%;

  @media (min-width: 740px) {
    max-width: 380px;
  }
}

.stories__story-title-small {
  color: $color-WARN_red;
  font-size: 16px;
  padding: 0.6em 0 0;
  
  @media (min-width: 740px) {
    padding: 0.8em 0;
  }
}

.stories__story-title {
  color: $color-RO_darkblue;
  font-size: 24px;
  padding: 0.1em 0 0.4em;
  font-weight: 800;

  @media (min-width: 740px) {
    font-size: 32px;
  }
}

.stories-image__animate {
  -webkit-animation-fill-mode: forwards;
  animation: fadeInOpacity 0.3s ease-in 0.3s 1 normal forwards;
  
  @media (prefers-reduced-motion) {
    animation-duration: 0s;
    animation-delay: 0s;
  }
}

.stories-title-small__animate {
  -webkit-animation-fill-mode: forwards;
  animation: fadeInOpacity 0.2s ease-in 0.5s 1 normal forwards;
  
  @media (prefers-reduced-motion) {
    animation-duration: 0s;
    animation-delay: 0s;
  }
}

.stories-title__animate {
  -webkit-animation-fill-mode: forwards;
  animation: fadeInOpacity 0.2s ease-in 0.7s 1 normal forwards;
  
  @media (prefers-reduced-motion) {
    animation-duration: 0s;
    animation-delay: 0s;
  }
}

.stories-text__animate {
  -webkit-animation-fill-mode: forwards;
  animation: fadeInOpacity 0.2s ease-in 0.9s 1 normal forwards;
  
  @media (prefers-reduced-motion) {
    animation-duration: 0s;
    animation-delay: 0s;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
