.video {
    margin: 10px auto 22px auto;
    padding: 0 10px;
    max-width: 910px;
    border: 1px solid #E6E6E6;
    align-items: center;

    @media (min-width: 740px) {
        margin: 30px auto 42px auto;
        width: calc(100% - (54px * 2));
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -16px; // Compensate for statement tile margins
    }

    @media (min-width: 960px) {
        width: auto;
        margin: 70px auto;
        padding: 0 0;
    }

    details ul, p {
      list-style: none;
      padding: 5px 0 20px;
    }

    details ul li a {
      text-decoration: none;
      padding: 10px 5px;
      border-bottom: 1px solid rgba(21, 66, 115, 0.5);
      display: block;

      &:hover {
        background-color: rgba(0, 39, 131, 0.07);
        transition: var(--transition-in);
      }
    }
}

.video__description {
    flex: 1 1 50%;
    padding: 2em;
}

.video__description__title {
    color: $color-RO_darkblue;
    font-size: 32px;
    margin-bottom: 20px;
}

.video__player {
    flex: 1 1 50%;
    padding: 2em;
}

