.video {
    margin: 10px auto 22px auto;
    padding: 0 10px;
    max-width: 910px;
    border: 1px solid #E6E6E6;

    @media (min-width: 740px) {
        margin: 30px auto 42px auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -16px; // Compensate for statement tile margins
    }

    @media (min-width: 960px) {
        margin: 70px auto;
        padding: 0 0;
    }
}

.video__left {
    flex: 1 1 50%;
}

.video__left__title {
    
}

.video__left__content {
    
}

.video__right {
    flex: 1 1 50%;
}