
.content-center {
    position: relative; // Necessary for specific iOS iPad overflow issue
    display: block; // Necessary for IE11
    margin-top: -26px;
    background: #fff;
    border-radius: 26px 26px 0 0;
    padding: 20px 20px;
    max-width: 1100px;

    @media (min-width: 740px) {
        padding: 20px 100px;
        margin: -50px auto 0;
        border-radius: 34px 34px 0  0;
    }

    @media (min-width: 960px) {
        padding: 26px 200px 20px 200px;
    }
}

.content-center__home {
    margin-top: 10px;
    margin-left: -13px;
    font-size: 14px;

    .icon-chevron-left {
        position: relative;
        top: 3px;
        left: -3px;
    }
}

.content-block {
    font-size: 16px;
    line-height: 142%;
    color: #333;

    // Inline elements

    a {
        text-decoration: underline;
    }

    // Block elements

    h1 {
        margin: 25px 0 40px 0;
        color: $color-RO_donkerblauw;
        font-size: 30px;
        line-height: 116%;
    }

    h2 {
        margin: 40px 0 14px;
        font-size: 24px;
        line-height: 116%;
    }

    h3 {
        margin: 40px 0 14px;
        font-size: 20px;
        line-height: 116%;
    }

    p {
        margin: 14px 0;
    }

    ul {
        margin-bottom: 10px;
        margin-left: 1em;
        list-style-type: disc;

        ul {
            margin-top: 4px;
            margin-bottom: 0;
            margin-left: 1.1em;
        }
    }

    ol {
        margin-bottom: 10px;
        margin-left: 15px;
    }

    ul li,
    ol li {
        margin-bottom: 4px;
    }

    table {
        font-size: 14px;
        line-height: 18px;
        min-width: 100%;
        border-collapse: separate;
        border-spacing: 6px;

        tr {
            th, td {
                padding: 14px 18px;
                text-align: left;
            }

            th {
                background: $color-RO_lichtblauw;
                color: $color-RO_donkerblauw;
            }

            td {
                border-bottom: 1px solid #333;
            }
        }
    }

    .md-timeline {
        ul,
        ol {
            position: relative;
            list-style: none;
            margin-left: 0;

            li {
                position: relative;
                padding-left: 33px;
                padding-bottom: 6px;

                // Round item
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    background: #FFFFFF;
                    border-width: 4px;
                    border-style: solid;
                    border-radius: 50%;
                    position: absolute;
                    box-sizing: border-box;
                    left: 0;
                    top: 1px;
                    z-index: 2;
                    border-color: #36870D;
                }

                // Line
                &::after {
                    border-color: #36870D;
                    content: '';
                    border-left-width: 4px;
                    border-left-style: solid;
                    position: absolute;
                    left: 8px;
                    top: 3px;
                    bottom: -6px;
                }

                &:last-child::after {
                    height: 0;
                }
            }
        }
    }

    details {
        border-top: $color-RO_donkerblauw--interaction 1px solid;
        border-bottom: $color-RO_donkerblauw--interaction 1px solid;
        margin: 14px 0;

        + details {
            margin-top: -14px;
            border-top: 0;
        }

        summary {
            cursor: pointer;
            color: $color-RO_donkerblauw--interaction;
            padding: 8px 0;
            
            &:hover {
                background: $color-RO_lichtblauw;
            }
        }

        &[open] summary {
            padding-bottom: 0;
            margin-bottom: -4px;
            font-weight: bold;

            &:hover {
                background: transparent;
            }
        }

        
    }

    .md-info-grey {
        color: #666;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 126%;
    }

    .md-block-lead {
        margin: 20px 0 40px;
        font-size: 20px;
        line-height: 142%;

        p {
            margin-bottom: 26px;
        }

        @media (min-width: 960px) {
            margin: -13px 50px 40px 0px;
            font-size: 26px;
            line-height: 142%;
        }
    }

    .md-text-color-RO-donkerblauw {
        color: $color-RO_donkerblauw;
    }

    .md-block-zebra {
        padding: 1px 20px 1px 20px;
        margin: 30px -20px 40px -20px;
        background: $color-RO_lichtblauw;
        border-radius: 10px;

        h1 {
            color: $color-RO_donkerblauw;
        }

        @media (min-width: 740px) {
            margin-left: -40px;
            margin-right: -40px;
            padding: 5px 40px 1px 40px;
        }

        @media (min-width: 960px) {
            margin-left: -100px;
            margin-right: -100px;
            padding: 5px 100px 1px 100px;
        }
    }
}
