

.header-yellow {
    overflow-x: hidden;
    position: relative;
    background-color:#EAF4F9;
    background-color: linear-gradient(180deg, #D8EBF1 0%, #EAF4F9 100%);
    background-image: url('../img/logo-app.svg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right 25px top 45px;
    min-height: 300px;

    @media(min-width: 680px) {
        background-size: 230px;
        background-position: right 40px top 55px;
    }

    @media(min-width: 680px) {
        background-size: 230px;
        background-position: right 40px top 55px;
    }

    @media(min-width: 960px) {
        background-image: none;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: -100px;
            /** Perfect alignment: width: of this element, width of the element above */
            right: calc((1300px / -2) + calc(100% / 2));
            bottom: 0;
            z-index: 0;
            background-image: url('../img/header-background.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center 23px;
            width: 600px;

            .browser-ie-11 & {
                right: calc(((100% - 1200px)/2) - 1px);
            }
        }
    }
    @media(min-width: 1080px) {
            &:before {
                .browser-ie-11 & {
                right: calc(((100% - 1300px)/2) - 1px);
            }
        }
    }
}

.header-yellow--slim {
    min-height: 180px;
    padding: 0 0 50px 0;
    color: #ffffff;
    background: linear-gradient(0deg, #C9005D 38%, #315BBC 130%);

    &:after {
        content: '';
        position: absolute;
        top: 5px;
        right: 30px;
        bottom: 0;
        z-index: 0;
        background-image: url('../img/logo-badge.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 23px;
        width: 80px;

        .browser-ie-11 & {
            right: 166px;
        }
    }

    @media(min-width: 740px) {
        min-height: 220px;
    }

    @media(min-width: 960px) {
        background: linear-gradient(0deg, #C9005D 38%, #315BBC 130%);
        &:before {
            content: none;
            background-image: none;
        }
        &:after {
            /** Perfect alignment: width: of this element, width of the element above */
            width: 80px;
            right: calc((980px / -2) + calc(100% / 2));
        }
    }
}

.header-yellow--statement {
    min-height: 160px;
}

.header-yellow__title {
    font-size: 30px;
    font-weight: 800;
    padding-top: 15px;

    @media (min-width: 740px) {
        font-size: 40px;
        padding-left: 55px;
    }

    @media (min-width: 960px) {
        padding-left: 155px;
    }
}

.header-yellow__center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: 740px) {
        padding: 0 40px;
    }

    @media (min-width: 960px) {
        padding: 0 40px;
    }
}

.header-yellow__language-picker {

}

.header-yellow__text {
    color: #154273 /* RO blauw */;
    // See .content with negative margin-top
    padding: 0 0 2em 1.38em;
    position: relative;
    z-index: 2;

    @media (min-width: 680px) {
        padding: 0 0 3.5em 3em;
    }

    @media (min-width: 960px) {
        padding: 0 0 5em 2.6em;
        margin-right: 424px;
        min-height: 430px;
    }
    
    h1 {
        margin: 0.5em 0 0 0;
        font-size: 1.62em;
        line-height: 1.16em;
        width: 50%;

        @media (min-width: 680px) {
            font-size: 3em;
        }
        
        @media (min-width: 960px) {
            margin-right: 9rem;
        }
    }
        
    h2 {
        margin: 0.38em 0 2.3em 0;
        font-size: 1.38em;
        line-height: 1.2em;
        font-weight: 400;

        @media (min-width: 680px) {
            margin-bottom: 1.62em;
            font-size: 2em;
        }
    }
}
