

.header-yellow {
    overflow-x: hidden;
    background-color: #F9E11E /* RO geel */;
    background-image: url('../img/header-background.svg');
    background-repeat: no-repeat;
    background-size: 347px;
    background-position: center 23px;
    min-height: 300px;

    @media(min-width: 680px) {
        background-size: 680px;
        background-position: center 62px;
    }

    @media(min-width: 960px) {
        background-image: none;
        // Note: background moved to .lead__preview ‘under‘ the mobile phone graphic
    }
}

.header-yellow--slim {
    min-height: 130px;
    padding: 0 0 50px 0;

    @media(min-width: 740px) {
        background-size: 680px;
        background-position: center -84px;
    }

    @media(min-width: 960px) {
        background-image: url('../img/header-background.svg');
        background-repeat: no-repeat;
        background-size: 680px;
        background-position: calc(50vw + 71px) -123px;
    }
}

.header-yellow__center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: 740px) {
        padding: 0 40px;
    }

    @media (min-width: 960px) {
        padding: 0 40px;
    }
}

.header-yellow__language-picker {

}

.header-yellow__text {
    color: #154273 /* RO blauw */;
    // See .content with negative margin-top
    padding: 0 0 2em 1.38em;
    position: relative;
    z-index: 2;

    @media (min-width: 680px) {
        padding: 0 0 2em 3em;
    }

    @media (min-width: 960px) {
        padding: 0 0 5em 2.6em;
        margin-right: 424px;
        min-height: 430px;
    }
    
    h1 {
        margin: 2em 0 0 0;
        font-size: 1.62em;
        line-height: 1.16em;

        @media (min-width: 680px) {
            font-size: 3em;
        }
        
        @media (min-width: 960px) {
            margin-right: 9rem;
        }
    }
        
    h2 {
        margin: 0.38em 0 2.3em 0;
        font-size: 1.38em;
        line-height: 1.2em;
        font-weight: 400;

        @media (min-width: 680px) {
            margin-bottom: 1.62em;
            font-size: 2em;
        }
    }
}
