* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'RO Sans';
    src: url('../fonts/RO-SansWebText-Regular.woff') format('woff');
    src: url('../fonts/RO-SansWebText-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: "RO Sans";
    src: url('../fonts/RO-SansWebText-Bold.woff') format('woff');
    src: url('../fonts/RO-SansWebText-Bold.woff2') format('woff2');
    font-weight: bold;
}


body {
    font-family: "RO Sans", sans-serif;
}

/* Header */
.logo {
    display: block;
    margin: 0 auto 24px;
}

header {
    position: relative;
    background-color: #F9E11E;
    background-image: url("../img/header-background.svg");
    background-repeat: no-repeat;
    background-position: 105% 30%;
    background-size: 55%;

    padding-top: 60px;
    padding-left: 8%;
    padding-bottom: 8%;
}

header h1 {
    color: #154273;
    font-size: 28pt;
    width: 40%;
    letter-spacing: 1px;
}

header h1 .lead {
    display: block;
    font-weight: normal;
    font-size: 0.9em;
}

header img {
    display: block;
    top: 30%;
    position: absolute;
    left: 62.5%;
    width: 25%;
}

/* Article */
article {
    position: relative;

    margin-top: -50px;
    margin-left: calc(8% - 32px);
    width: 50%;
    padding: 0 32px 32px;
    background-color: white;
    border-radius: 32px;
}

article > h2 {
    padding-top: 25px;
    margin-bottom: 30px;
}

article p {
    width: 70%;
    line-height: 1.5em;
}

/* Statements */

.statements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -16px;
    margin-right: -16px;
}

.statements details {
    margin: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    padding-bottom: 16px;

    background-repeat: no-repeat;
    background-position: right 15px top 20px;
    background-size: 15px;
}

.statements details.checked {
    background-image: url('../img/trafficlight-green.svg');
}

.statements details.in-progress {
    background-image: url('../img/trafficlight-orange.svg');
}

.statements details.stopped {
    background-image: url('../img/trafficlight-red.svg');
}

.statements details > summary {
    padding: 24px;
    list-style-type: none;
    cursor: pointer;
    margin-left: 0;
}

.statements details > * {
    margin: 0 24px;
}

.statements details > summary::-webkit-details-marker {
    display: none;
}

/* Footer */
.github {
    display: block;
    width: 16px;
    height: 16px;
    margin: 32px auto;
}

.github img {
    width: 16px;
    height: 16px;
}

/* Tablet layout */
@media only screen and (max-width: 1024px) {
    header {
        background-position: 50% 10%;
        padding-bottom: 16%;
    }

    header h1 {
        width: 80%;
    }

    header img {
        display: none;
    }

    article {
        width: 100%;
        margin-left: 0;
    }
}

/* Mobile layout */
@media only screen and (max-width: 400px) {
    header {
        background-size: 80%;
    }

    header h1 {
        width: 100%;
    }

    article {
        padding: 16px
    }

    article p {
        width: 100%;
    }
}
