---
---

// Breakpoints:
// 420px (mobile)
// 740px (tablet)
// 960px (desktop)

$file-path: "/";

@import "01-setup/colors";
@import "01-setup/fonts";
@import "01-setup/basics";
@import "02-components/announcement";
@import "02-components/btn";
@import "02-components/app-badges";
@import "02-components/skiplinks";
@import "02-components/icons";
@import "02-components/language-picker";
@import "02-components/video";

// Used on every page
@import "03-partials/header";
@import "03-partials/content-block";
@import "03-partials/footer";

// As used on the homepage
@import "03-partials/section-how-to-use-coronamelder";
@import "03-partials/section-how-your-data-is-handled";
@import "03-partials/section-faq-highlighted-on-home";

// Used for the FAQ overview pages
@import "03-partials/faq-overview";
