---
---

/* check to see if you named all colors:
$ grep -Po '(#[0-9A-Fa-f]{6}|rgba?\([^)]+\)) ?(/[*].*[*]/)?' css/main.css | grep -vE '^(#(0{6}|[Ff]{6}))|(rgba?\((0,\s*){3}|(255,\s*){3})' | sort | uniq -c | sort -k2
*/

/**
Breakpoints:
420px (mobile)
740px (tablet)
960px (desktop)
*/

$color-RO_donkerblauw: #154273 /* RO blauw */;

$color-RO_donkerblauw--interaction: #002783;

$color-RO_lichtblauw: #EFF7F9;

$color-WARN_rood: #CA005D;

$color-focus: #008fcd;
$color-focus-background: rgba($color-RO_donkerblauw--interaction, 0.1);

:root {
    --transition-in: 262ms ease;
    --transition-in--fast: 100ms ease;
    --transition-out: 162ms ease;
    --transition-out--fast: 62ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-offset: 8px;
    outline: 2px solid transparent;
}

.browser-ie-11 * {
    outline-offset: 0;
    outline: 0;
}

*:focus {
    outline: 2px solid $color-focus;
    outline-offset: 4px;
    transition: 100ms ease-out;
}

@font-face {
    font-family: 'RO Sans';
    src: url('../fonts/ROsanswebtextregular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

// Currently not in use...
// @font-face {
//     font-family: 'RO Sans';
//     src: url('../fonts/ROsanswebtextitalic.woff') format('woff');
//     font-weight: 400;
//     font-style: italic;
//     font-display: swap;
// }

@font-face {
    font-family: 'RO Sans';
    src: url('../fonts/ROsanswebtextbold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;

    &.html-no-scroll {
        overflow: hidden;

        body {
            overflow-y: scroll; // Prevent scrollbar jitter
        }
    }
}

body {
    font-family: 'RO Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1100px;
    position: relative;
    margin: auto;

    @media(min-width: 960px) {
        padding: 0 0 0 2em;
    }
}

abbr {
    cursor: help;
    border-bottom: 1px dotted;
    text-decoration: none;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

a, a:visited {
    color: $color-RO_donkerblauw;
    text-decoration: none;
}

a:hover {
    color: #002783 /* RO donker link2 */;
    text-decoration: underline;
}

@import "header-yellow";
@import "language-picker";
@import "content-block";
@import "footer";
@import "statements";
@import "info-slider";
@import "faq";

/* Skip links */

.skiplinks {
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 16px;
    z-index: 2;

    a {
        font-size: 1.26562rem;
        line-height: 1.58025;
        width: auto;
        min-height: 44px;
        padding: 0.75rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 0;
        color: #fff;
        background-color: #002783;
        position: absolute;
        top: -100vh;
        left: -100vw;
        text-decoration: none;

        &:focus {
            top: 15px;
            left: 15px;
        }
    }
}

/* Header */
.badge {
    position: absolute;
    left: 19px;
    top: 13px;

    padding: 3px 5px;
    background: #F9E11E /* RO geel */;
    border-radius: 5px;
    color: #000000;

    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
    /* identical to box height, or 133% */
    letter-spacing: 0.173913px;
}

/* Logo */

.logobar {
    padding: 0 0 20px 0;
    background-color: #ffffff;
    z-index: 1;
    position: relative;

    @media (min-width: 740px) {
        padding-bottom: 45px;
    }

    @media (min-width: 960px) {
        padding-bottom: 50px;
    }
}

.logo a {
    display:block;
    max-width: 50px;
    margin: 0 auto;
}

.logo img {
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-top: -20px;

    @media (min-width: 740px) {
        width: 45px;
        margin-top: 0;
    }

    @media (min-width: 960px) {
        width: 50px;
    }
}

/* .logo .wordmark {
   font-size: 14px;
   line-height: 14px;
   margin-left: 9px;
   margin-right: 21px;
   width: 210px;
   letter-spacing: 0.001em;
   font-family: 'RO Serif', 'Times New Roman',Times, serif;
   float: right;
   padding-top: 34px;
   display: block;
} */



/* Yellow header bar */

.headerbar {
}

/* Watch button */

header .watch {
    width: 50%;
    text-align: center;
    margin-top: 3rem;
}

header .watch a, header .watch > a:visited {
    display: inline-block;
    background: url('../img/play.svg') no-repeat left;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 15px 0 15px 50px;
    margin: auto;
}
header .watch > a:hover {
    background-image: url('../img/play-hover.svg');
}

/* Content */
.content {
    position: relative;
    margin-top: -1.6em;
    padding: 1.6em;
    background-color: #FFFFFF;
    border-radius: 1.6em;
    max-width: 500px;

    @media (min-with: 960px) {
        width: 60%;
    }
}

.content > div {
    padding-top: 1.5624rem;
}

.lead {
    position: relative;
    margin: -3.7em 0 0 0;
    padding: 2em 1.6em 0 1.6em;
    background-color: #FFFFFF;
    border-radius: 2em;
    color: #333333; /* RO tekst */;

    @media (min-width: 740px) {
        padding: 2em 2.4em 0 2.4em;
    }

    @media (min-width: 960px) {
        max-width: calc(100% - 382px);
    }
}

.lead__text {
    @media (min-width: 960px) {
        min-height: 16rem;
    }

    h2 {
        margin: 0 0 0.7em;
        font-size: 1.2em;
        line-height: 1;
    }
}

.lead__app_badges{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0.5em;

    img{
      height: 65px;
    }
    .app_badge_column__left {
        flex-direction: column;
        flex-basis: 100%;
        @media (min-width: 740px) {
            flex-basis: auto;
            margin-right: 0.5em;
        }
    }
    .app_badge_column__right {
        flex-direction: column;
        flex-basis: 100%;
        @media (min-width: 740px) {
            flex-basis: auto;
        }
     }
}

.lead__preview {
    // margin: 0 -1em 1.6em -1em;

    > img {
        display: none;
    }

    @media (min-width: 960px) {
        display: block;
        position: absolute;
        z-index: 0;
        // top: -343px;
        // right: -349px;
        // width: 324px;
        top: -250px;
        right: -316px;
        width: 262px;
        margin: 0;
        min-height: 670px;
        // Position depends on .header-yellow

        > img {
            position: absolute;
            top: -80px;
            right: -22px;
            display: block;
            width: 309px;
            height: auto;
            z-index: 1;
        }

        // Graphic with circles moved to header-yellow for overflow: hidden


        // Shadow under phone image
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: -80px;
            right: -19px;
            bottom: 120px;
            left: -19px;
            border-radius: 50px;
            box-shadow: 0 10px 26px rgba(0,0,0,0.26);
        }
    }
}

.lead__preview__slider {
    position: relative;
    z-index: 1;
}

/**


    .content {
        width: 100%;
        margin-left: 0;
        display: flex;
    }
    .content > div {
        flex: 50%;
    }
    .content .lead {
        margin-right: 16px;
    }
    .content .follow {
        margin-left: 16px;
    }
*/

/**


    .content {
        display: block;
        padding: 16px;
    }

    .content .lead {
        padding-top: 0.5rem;
        margin-right: 0;
    }

    .content .follow {
        margin-left: 0;
    }
*/


.follow > h2 {
    font-size: 1rem;
    font-weight: normal;
}

.follow > .state {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

/* Statements */

.full-width-content {
    padding: 0 2em;
    z-index: 1;
    position: relative;
}


/* Statement expand and collapse buttons */

.statements details > summary > div.expand,
.statements details > summary > .collapse.bottom {
    color: $color-RO_donkerblauw;
    border-top: 1px solid rgba(21, 66, 115, 0.2) /* RO blauw */;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}
.statements details > summary > .collapse.top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
}

.statements details[open] > summary > .expand {
    display: none;
}
.statements details > summary > .collapse {
    display: none;
}
.statements details[open] > summary > .collapse {
    display: block;
}

.icon {
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 1rem;
}

.icon-chevron-right {
    background-image: url('../img/chevron-up.svg');
    transform: rotate(90deg);
}

.icon-chevron-left {
    background-image: url('../img/chevron-up.svg');
    transform: rotate(-90deg);
}

.icon-close {
    background-image: url('../img/close.svg');
}

/* Statement Expand collapse chevrons */

.statements details > summary > div > span {
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 1rem;
}
.statements details > summary > div > span.chevron-down {
    background-image: url('../img/chevron-down.svg');
}
.statements details > summary > div > span.chevron-up {
    background-image: url('../img/chevron-up.svg');
}
.statements details > summary > div > span.chevron-right {
    background-image: url('../img/chevron-up.svg');
    transform: rotate(90deg);
}

/* Statement Icons */

.statements details > summary.icon-book {
    background-image: url('../img/book.svg');
    background-size: 43px;
}
.statements details > summary.icon-privacy {
    background-image: url('../img/privacy.svg');
    background-size: 49px;
}
.statements details > summary.icon-lock {
    background-image: url('../img/lock.svg');
}
.statements details > summary.icon-thumbs-up {
    background-image: url('../img/thumbs-up.svg');
    background-size: 49px;
}

/* Statement Timeline */

.timeline {
    position: relative;
}

.timeline ul.completed,
.timeline ul.working-on {
    list-style: none;
    margin-left: 64px;
}

.timeline > h3.completed,
.timeline > h3.working-on {
    font-size: 1.625rem;
    margin-top: 20px;
    margin-left: 64px;
    margin-bottom: 20px;
}

.timeline > h3.completed::before,
.timeline > h3.working-on::before,
.timeline > ul.completed > li::before,
.timeline > ul.working-on > li::before {
    content: '';
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    left: 23px;
    z-index: 2;
}

.timeline > h3.completed::before,
.timeline > h3.working-on::before {
    width: 34px;
    height: 34px;
    left: 16px;
    background-position: center center;
    background-repeat: no-repeat;
}

.timeline > h3.completed::after,
.timeline > h3.working-on::after,
.timeline > ul.completed > li::after,
.timeline > ul.working-on > li::after {
    content: '';
    border-left-width: 4px;
    border-left-style: solid;
    position: absolute;
    left: 31px;
    top: 2px;
    bottom: 4px;
}

.timeline > h3.completed::after,
.timeline > h3.working-on::after {
    height: 55px;
}
.timeline > h3.completed::before {
    background-image: url('../img/completed.svg');
}
.timeline > h3.working-on::before {
    background-image: url('../img/working-on.svg');
}
.timeline > h3.completed::before,
.timeline > h3.completed::after,
.timeline > ul.completed > li::before,
.timeline > ul.completed > li::after {
    border-color: #36870D;
    // Community
}
.timeline > h3.working-on::before,
.timeline > h3.working-on::after,
.timeline > ul.working-on > li::before,
.timeline > ul.working-on > li::after {
   border-color: $color-RO_donkerblauw;
}

.timeline > ul.completed > li,
.timeline > ul.working-on > li {
    line-height: 138%;
    margin-bottom: 7px;
}
.timeline > ul.completed > li:last-child::after,
.timeline > ul.working-on > li:last-child::after {
    height: 0;
}

/* Statement Repond button */

.card-content > .respond {
    margin: 20px -20px;
    padding: 1.5rem 20px;
    background-color: #F5F5F5 /* lichtgrijs */;
}

.card-content > .respond > a {
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #ACACAC /* grijs */;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1.375rem;
    padding: 0.5rem 1rem;
}

/* Statement More information */

.card-content > .more {
}

.card-content > .more > h3 {
    font-size: 1.625rem;
    line-height: 1.6875rem;
    margin-bottom: 0.5rem;
}
.card-content > .more > span {
    font-size: 1.125rem;
    line-height: 1.1875rem;
}

/* Statement Share */

.share > h4 {
    font-size: 1.125rem;
    line-height: 1.375rem;
}

ul.share {
    list-style: none;
    height: 40px;
    margin-bottom: 10px;
}

ul.share  > li {
    float: left;
    margin-right: 10px;
}

ul.share > li > a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -999rem;
}

.icon-twitter {
    background-image: url('../img/twitter.svg');
}
.icon-facebook {
    background-image: url('../img/facebook.svg');
}
.icon-linkedin {
    background-image: url('../img/linkedin.svg');
}

/* Explainer */

.explainer {
    display: block;
    margin: 32px;
    background: url('../img/play.svg') 33% center no-repeat, url('../img/illustration.svg') right top no-repeat, linear-gradient(180deg, #EEF7F9 /* illustratie blauw */ 0%, #FFFFFF 100%);
    background-size: 93px, auto, auto;
    height: 317px;
    padding: 2rem 4rem;
}
.explainer:hover {
    background-image: url('../img/play-hover.svg'), url('../img/illustration.svg'), linear-gradient(180deg, #EEF7F9 /* illustratie blauw */ 0%, #FFFFFF 100%);
}

a.explainer, a.explainer:hover, a.explainer:visited {
    color: #333333 /* donkergrijs */;
    text-decoration: none;
}

a.explainer > h2 {
    font-size: 2rem;
}

/* FAQ */

#radio-faq-top5:checked ~ .tab-faq-top5,
#radio-faq-opensource:checked ~ .tab-faq-opensource,
#radio-faq-app:checked ~ .tab-faq-app,
#radio-faq-development:checked ~ .tab-faq-development {
    display: block;
}
#radio-faq-top5:checked ~ label[for=radio-faq-top5],
#radio-faq-opensource:checked ~ label[for=radio-faq-opensource],
#radio-faq-app:checked ~ label[for=radio-faq-app],
#radio-faq-development:checked ~ label[for=radio-faq-development] {
    border-left: 2px solid #1F529B /* Lichter app blauw */;
    padding-left: 0.5rem;
    color: #000000;
}
.tab-faq-opensource {
    margin-top: -2rem;
}
.tab-faq-app {
    margin-top: -4rem;
}
.tab-faq-development {
    margin-top: -6rem;
}
.faq > label {
    color: $color-RO_donkerblauw;
    cursor: pointer;
    display: block;
    float: left;
    clear: left;
    margin-bottom: 0.875rem;
    height: 1.125rem;

    @media (min-width: 680px) {
        width: 200px;
    }
}
.faq > label:hover > h3 {
    text-decoration: underline;
}
.faq > label > h3 {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

/* Footer */
.github {
    display: block;
    width: 16px;
    height: 16px;
    margin: 32px auto;
}

.github img {
    width: 16px;
    height: 16px;
}

/* Tablet layout */
@media only screen and (max-width: 1024px) {

    header h1 {
        width: 80%;
    }

    header .watch {
        width: 90%;
    }

    .headerbar img {
        display: none;
    }

    .full-width-content {
        margin: 0;
        width: 100%;
    }

    .faq .tab {
        width: calc(80% - 16px);
        margin-right: 16px;
    }
    .explainer {
        background-position: center center, top right, center center;
        background-size: 93px, 105%, auto;
    }
}

/* Mobile layout */
@media only screen and (max-width: 400px) {
    .badge {
        font-size: 0.8125rem;
        line-height: 0.8125rem;
    }
    .badge > .note {
        display: block;
    }
    header h1 {
        width: 100%;
        font-size: 2rem;
        line-height: 2.125rem;
    }

    header h1 .subtitle {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
    .full-width-content {
        padding: 0 16px;
    }
    .explainer {
        margin: 16px;
    }
    .faq > label {
        float: none;
        width: auto;
        color: #000000;
        padding-left: 0 !important;
        border-left: none !important;
        margin-top: 1rem;
        cursor: default;
    }
    .faq .tab {
        float: none;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 0 !important;
    }
    .explainer {
        background-position: center center, bottom right, center center;
    }
}
