* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RO Sans';
    src: url('../fonts/RO-SansWebText-Regular.woff') format('woff');
    src: url('../fonts/RO-SansWebText-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: "RO Sans";
    src: url('../fonts/RO-SansWebText-Bold.woff') format('woff');
    src: url('../fonts/RO-SansWebText-Bold.woff2') format('woff2');
    font-weight: bold;
}


body {
    font-family: "RO Sans", sans-serif;
}

/* Header */

.logo {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    background-color: #01689b;
    color: white;
    line-height: 75px;
    margin-top: 16px;
}

/* Content */

article {
    max-width: 50%;
    margin: 32px auto;
}

article > p {
    margin: 32px 0;
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
    margin: 8px 0;
}

/* Statements */

details {
    position: relative;
    border: 1px solid #888;

    margin: 32px 0;
    -moz-appearance:initial;
    border-right-width: 10px;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > * {
    padding: 0 48px;
}

summary {
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

summary:focus {
    outline: none;
}

summary::before {
    content: '+';
    display: block;
    background-color: #01689b;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 28px;
    left: 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

details[open] summary::before {
    content: '-';
}

details[open] {
    padding-bottom: 32px;
}

details.failed {
    border-right-color: #bb0000;
}


details.in-progress {
    border-right-color: #ff9900;
}

details.checked {
    border-right-color: #00bb33;
}

.github {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.github img {
    width: 16px;
    height: 16px;
}