---
---

/* check to see if you named all colors:
$ grep -Po '(#[0-9A-Fa-f]{6}|rgba?\([^)]+\)) ?(/[*].*[*]/)?' css/main.css | grep -vE '^(#(0{6}|[Ff]{6}))|(rgba?\((0,\s*){3}|(255,\s*){3})' | sort | uniq -c | sort -k2
*/

/**
Breakpoints:
420px (mobile)
740px (tablet)
960px (desktop)
*/

$color-RO_donkerblauw: #154273 /* RO blauw */;

$color-RO_lichtblauw: #EFF7F9;

$color-WARN_rood: #CA005D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'RO Sans';
    src: url('../fonts/RO-SansWebText-Regular.woff') format('woff');
    src: url('../fonts/RO-SansWebText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RO Serif';
    src: url('../fonts/RO-SerifWeb-Regular.woff') format('woff');
    src: url('../fonts/RO-SerifWeb-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RO Sans';
    src: url('../fonts/RO-SansWebText-Bold.woff') format('woff');
    src: url('../fonts/RO-SansWebText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'RO Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    position: relative;
    margin: auto;
    
    @media(min-width: 960px) {
        padding: 0 0 0 2em;
    }
}

a, a:visited {
    color: #154273 /* RO blauw */;
    text-decoration: none;
}

a:hover {
    color: #002783 /* RO donker link2 */;
    text-decoration: underline;
}

ul {
    list-style-image: url('../img/chevron-right.svg');
    list-style-position: inside;
    /*padding-inline-start: 12px;*/
}

ul > li {
    line-height: 1.625rem;
}

@import "header-yellow";
@import "../_includes/footer";
@import "../_includes/statements";

/* Header */
.badge {
    position: absolute;
    left: 19px;
    top: 13px;

    padding: 3px 5px;
    background: #F9E11E /* RO geel */;
    border-radius: 5px;
    color: #000000;

    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
    /* identical to box height, or 133% */
    letter-spacing: 0.173913px;
}

/* Logo */

.logobar {
    padding: 0 0 1.6em 0;

    @media (min-width: 740px) {
        padding-bottom: 3em;
    }
}

.logo img {
    display: block;
    width: 45px;
    margin: 0 auto;

    @media (min-width: 740px) {
        width: 45px;
    }

    @media (min-width: 960px) {
        width: 50px;
    }
}

/* .logo .wordmark {
   font-size: 14px;
   line-height: 14px;
   margin-left: 9px;
   margin-right: 21px;
   width: 210px;
   letter-spacing: 0.001em;
   font-family: 'RO Serif', 'Times New Roman',Times, serif;
   float: right;
   padding-top: 34px;
   display: block;
} */



/* Yellow header bar */

.headerbar {
}

/* Watch button */

header .watch {
    width: 50%;
    text-align: center;
    margin-top: 3rem;
}

header .watch a, header .watch > a:visited {
    display: inline-block;
    background: url('../img/play.svg') no-repeat left;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 15px 0 15px 50px;
    margin: auto;
}
header .watch > a:hover {
    background-image: url('../img/play-hover.svg');
}

/* Content */
.content {
    position: relative;
    margin-top: -1.6em;
    padding: 1.6em;
    background-color: #FFFFFF;
    border-radius: 1.6em;
    max-width: 500px;

    @media (min-with: 960px) {
        width: 60%;
    }
}

.content > div {
    padding-top: 1.5624rem;
}

.lead {
    position: relative;
    margin: -3.7em 0 0 0;
    padding: 2em 1.6em 0 1.6em;
    background-color: #FFFFFF;
    border-radius: 2em;
    color: #333333; /* RO tekst */;

    @media (min-width: 740px) {
        padding: 2em 2.4em 0 2.4em;
    }

    @media (min-width: 960px) {
        max-width: calc(100% - 382px);
    }
}

.lead__text {

    h2 {
        margin: 0 0 0.7em;
        font-size: 2em;
        line-height: 1;
    }

    p {
        margin: 0 0 1.2em;
        font-size: 1.38em;
        line-height: 1.38em;
    }

    ul {
        margin: 0 0 1em;
        font-size: 1.26em;

        li {
            margin-bottom: 0.3em;
        }
    }
}

.lead__preview {
    margin: 0 -1em 1.6em -1em;
    
    > img {
        display: none;
    }

    @media (min-width: 960px) {
        display: block;
        position: absolute;
        z-index: 0;
        top: -343px;
        right: -349px;
        width: 324px;
        margin: 0;
        min-height: 670px;
        // Position depends on .header-yellow

        > img { // TODO: temporary
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            top: -147px;
            right: -138px;
            bottom: 0;
            z-index: 0;
            background-image: url('../img/header-background.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center 23px;
            width: 600px;
        }
    }
}

.info-slider {
    position: relative;
    background: $color-RO_lichtblauw;
    border-radius: 0.6em;
    // padding: 1em;

    @media (min-width: 960px) {
        border-radius: 0;
        margin: 107px 36px 0 37px;
        z-index: 1;
        height: 422px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.info-slide__graphic {
    margin: 0 0 1em 0;
    text-align: center;

    img {
        max-width: calc(100% - 3em);
        height: auto;
    }

    @media (min-width: 960px) {
        padding-top: 2em;
    }
}

.info-slide__text {
    padding: 1.2em;
    
    h3 {
        margin-bottom: 0.5em;
    }

    p {

    }
}

/**


    .content {
        width: 100%;
        margin-left: 0;
        display: flex;
    }
    .content > div {
        flex: 50%;
    }
    .content .lead {
        margin-right: 16px;
    }
    .content .follow {
        margin-left: 16px;
    }
*/

/**


    .content {
        display: block;
        padding: 16px;
    }

    .content .lead {
        padding-top: 0.5rem;
        margin-right: 0; 
    }

    .content .follow {
        margin-left: 0;
    }
*/


.follow > h2 {
    font-size: 1rem;
    font-weight: normal;
}

.follow > .state {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

/* Statements */

.full-width-content {
    padding: 0 2em;
    z-index: 1;
    position: relative;
}


/* Statement expand and collapse buttons */

.statements details > summary > div.expand,
.statements details > summary > .collapse.bottom {
    color: #154273 /* RO blauw */;
    border-top: 1px solid rgba(21, 66, 115, 0.2) /* RO blauw */;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}
.statements details > summary > .collapse.top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
}

.statements details[open] > summary > .expand {
    display: none;
}
.statements details > summary > .collapse {
    display: none;
}
.statements details[open] > summary > .collapse {
    display: block;
}

.icon {
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 1rem;
}

.icon-chevron-right {
    background-image: url('../img/chevron-up.svg');
    transform: rotate(90deg);
}

/* Statement Expand collapse chevrons */

.statements details > summary > div > span {
    background-position: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 1rem;
}
.statements details > summary > div > span.chevron-down {
    background-image: url('../img/chevron-down.svg');
}
.statements details > summary > div > span.chevron-up {
    background-image: url('../img/chevron-up.svg');
}
.statements details > summary > div > span.chevron-right {
    background-image: url('../img/chevron-up.svg');
    transform: rotate(90deg);
}

/* Statement Icons */

.statements details > summary.icon-book {
    background-image: url('../img/book.svg');
    background-size: 43px;
}
.statements details > summary.icon-privacy {
    background-image: url('../img/privacy.svg');
    background-size: 49px;
}
.statements details > summary.icon-lock {
    background-image: url('../img/lock.svg');
}
.statements details > summary.icon-thumbs-up {
    background-image: url('../img/thumbs-up.svg');
    background-size: 49px;
}

/* Statement Timeline */

.timeline {
    position: relative;
}

.timeline ul.completed,
.timeline ul.working-on {
    list-style: none;
    margin-left: 64px;
}

.timeline > h3.completed,
.timeline > h3.working-on {
    font-size: 1.625rem;
    margin-top: 20px;
    margin-left: 64px;
    margin-bottom: 20px;
}

.timeline > h3.completed::before,
.timeline > h3.working-on::before,
.timeline > ul.completed > li::before,
.timeline > ul.working-on > li::before {
    content: '';
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    left: 23px;
    z-index: 2;
}
.timeline > h3.completed::before,
.timeline > h3.working-on::before {
    width: 34px;
    height: 34px;
    left: 16px;
    background-position: center center;
    background-repeat: no-repeat;
}

.timeline > h3.completed::after,
.timeline > h3.working-on::after,
.timeline > ul.completed > li::after,
.timeline > ul.working-on > li::after {
    content: '';
    border-left-width: 4px;
    border-left-style: solid;
    position: absolute;
    left: 31px;
    height: 40px;
}

.timeline > h3.completed::after,
.timeline > h3.working-on::after {
    height: 55px;
}
.timeline > h3.completed::before {
    background-image: url('../img/completed.svg');
}
.timeline > h3.working-on::before {
    background-image: url('../img/working-on.svg');
}
.timeline > h3.completed::before,
.timeline > h3.completed::after,
.timeline > ul.completed > li::before,
.timeline > ul.completed > li::after {
   border-color: #64C62A /* lichtgroen */;
}
.timeline > h3.working-on::before,
.timeline > h3.working-on::after,
.timeline > ul.working-on > li::before,
.timeline > ul.working-on > li::after {
   border-color: #154273 /* RO blauw */;
}

.timeline > ul.completed > li,
.timeline > ul.working-on > li {
    height: 2rem;
    line-height: 1em;
}
.timeline > ul.completed > li:last-child::after,
.timeline > ul.working-on > li:last-child::after {
    height: 0;
}

/* Statement Repond button */

.card-content > .respond {
    margin: 20px -20px;
    padding: 1.5rem 20px;
    background-color: #F5F5F5 /* lichtgrijs */;
}

.card-content > .respond > a {
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #ACACAC /* grijs */;
    border-radius: 5px;
    font-weight: bold;
    line-height: 1.375rem;
    padding: 0.5rem 1rem;
}

/* Statement More information */

.card-content > .more {
}

.card-content > .more > h3 {
    font-size: 1.625rem;
    line-height: 1.6875rem;
    margin-bottom: 0.5rem;
}
.card-content > .more > span {
    font-size: 1.125rem;
    line-height: 1.1875rem;
}

/* Statement Share */

.share > h4 {
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.share > ul {
    list-style: none;
    height: 40px;
    margin-bottom: 10px;
}

.share > ul > li {
    float: left;
    margin-right: 10px;
}

.share > ul > li > a {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -999rem;
}

.icon-twitter {
    background-image: url('../img/twitter.svg');
}
.icon-facebook {
    background-image: url('../img/facebook.svg');
}
.icon-linkedin {
    background-image: url('../img/linkedin.svg');
}

/* Explainer */

.explainer {
    display: block;
    margin: 32px;
    background: url('../img/play.svg') 33% center no-repeat, url('../img/illustration.svg') right top no-repeat, linear-gradient(180deg, #EEF7F9 /* illustratie blauw */ 0%, #FFFFFF 100%);
    background-size: 93px, auto, auto;
    height: 317px;
    padding: 2rem 4rem;
}
.explainer:hover {
    background-image: url('../img/play-hover.svg'), url('../img/illustration.svg'), linear-gradient(180deg, #EEF7F9 /* illustratie blauw */ 0%, #FFFFFF 100%);
}

a.explainer, a.explainer:hover, a.explainer:visited {
    color: #333333 /* donkergrijs */;
    text-decoration: none;
}

a.explainer > h2 {
    font-size: 2rem;
}

/* FAQ */

.faq {
    display: block;
    background-color: #F5F5F5 /* lichtgrijs */;
    margin: 3em auto 0 auto;
    padding: 1.6em;
    max-width: 1100px;
    position: relative;

    &:after {
        content: '';
        display: block;
        overflow: hidden;
        height: 0px;
        clear: both;
    }

    @media (min-width: 680px) {
        padding: 3rem 4rem 2rem 4rem;
    }
}

.faq > h2 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 2.6rem;
}

.faq input[name=faq] {
    display: none;
}

.faq .tab {
    float: right;
    clear: right;
    display: none;

    @media (min-width: 740px) {
        width: calc(100% - 200px);
    }

    @media (min-width: 960px) {
        width: calc(100% - 400px);
        margin-right: 200px;
    }
}

#radio-faq-top5:checked ~ .tab-faq-top5,
#radio-faq-opensource:checked ~ .tab-faq-opensource,
#radio-faq-app:checked ~ .tab-faq-app,
#radio-faq-development:checked ~ .tab-faq-development {
    display: block;
}
#radio-faq-top5:checked ~ label[for=radio-faq-top5],
#radio-faq-opensource:checked ~ label[for=radio-faq-opensource],
#radio-faq-app:checked ~ label[for=radio-faq-app],
#radio-faq-development:checked ~ label[for=radio-faq-development] {
    border-left: 2px solid #1F529B /* Lichter app blauw */;
    padding-left: 0.5rem;
    color: #000000;
}
.tab-faq-opensource {
    margin-top: -2rem;
}
.tab-faq-app {
    margin-top: -4rem;
}
.tab-faq-development {
    margin-top: -6rem;
}
.faq > label {
    color: #154273 /* RO blauw */;
    cursor: pointer;
    display: block;
    float: left;
    clear: left;
    margin-bottom: 0.875rem;
    height: 1.125rem;
    
    @media (min-width: 680px) {
        width: 200px;
    }
}
.faq > label:hover > h3 {
    text-decoration: underline;
}
.faq > label > h3 {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.faq details {
    position: relative;
    border: 1px solid #154273 /* RO blauw */;
    border-radius: 5px;
    width: 100%;
    margin: 0.5em auto;
}

.faq details:first-child {
    margin-top: 0;
}

.faq details[open],
.faq details[open]:hover {
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.tab details summary::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    opacity: 0.3;
    background: transparent url('../img/plus.svg') center center no-repeat;
}

.tab details[open] summary::after {
    opacity: 1;
    background-image: url('../img/minus.svg');
}
.tab details:hover summary::after {
    opacity: 1;
}

.faq details > summary::-webkit-details-marker {
    display: none;
}

.faq details:hover {
    background-color: rgba(0, 39, 131, 0.07) /* RO donker link2 */;
    border-color: #002783 /* RO donker link2 */;
}
.faq details:hover summary {
    text-decoration: underline;
}
.faq details[open]:hover summary {
    text-decoration: none;
}

.faq details summary {
    padding: 1.09375rem 0;
    list-style-type: none;
    cursor: pointer;
    color: #154273 /* RO blauw */;
}
.faq details summary > h4 {
    padding: 0 40px 0 15px;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.1875rem;
}
.faq details[open] summary > h4 {
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 1.6875rem;
}

/* FAQ Feedback */

.faq .answer, .faq .feedback {
    padding: 20px;
}

.feedback > h5 {
    color: #333333 /* donkergrijs */;
    font-size: 1.125rem;
}

.feedback > a {
    border: 1px solid #ACACAC /* grijs */;
    border-radius: 5px;
    font-weight: bold;
    color: #000000;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin: 20px 20px 0 0;
}
.feedback > a:hover {
    background-color: #002783 /* RO donker link2 */;
    border-color: #002783 /* RO donker link2 */;
    color: #FFFFFF;
    text-decoration: none;
}
.ask-question {
    clear: both;
}

/* Footer */
.github {
    display: block;
    width: 16px;
    height: 16px;
    margin: 32px auto;
}

.github img {
    width: 16px;
    height: 16px;
}

/* Tablet layout */
@media only screen and (max-width: 1024px) {

    header h1 {
        width: 80%;
    }

    header .watch {
        width: 90%;
    }

    .headerbar img {
        display: none;
    }

    .full-width-content {
        margin: 0;
        width: 100%;
    }
    
    .faq .tab {
        width: calc(80% - 16px);
        margin-right: 16px;
    }
    .explainer {
        background-position: center center, top right, center center;
        background-size: 93px, 105%, auto;
    }
}

/* Mobile layout */
@media only screen and (max-width: 400px) {
    .badge {
        font-size: 0.8125rem;
        line-height: 0.8125rem;
    }
    .badge > .note {
        display: block;
    }
    .logobar > .logo {
        padding-left: 0;
    }
    .logo .wordmark {
        display: none;
    }
    header h1 {
        width: 100%;
        font-size: 2rem;
        line-height: 2.125rem;
    }

    header h1 .subtitle {
        font-size: 1.375rem;
        line-height: 1.625rem; 
    }
    .full-width-content {
        padding: 0 16px;
    }
    .explainer {
        margin: 16px;
    }
    .faq > label {
        float: none;
        width: auto;
        color: #000000;
        padding-left: 0 !important;
        border-left: none !important;
        margin-top: 1rem;
        cursor: default;
    }
    .faq .tab {
        float: none;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 0 !important;
    }
    .explainer {
        background-position: center center, bottom right, center center;
    }
}
