/* Logo */

.logobar {
    padding: 0 0 20px 0;
    z-index: 1;
    position: relative;

    @media (min-width: 740px) {
        padding-bottom: 45px;
    }

    @media (min-width: 960px) {
        padding-bottom: 50px;
    }
}

.logo {
    display: block;
    max-width: 50px;
    margin: 0 auto;

    img {
        display: block;
        width: 40px;
        height: auto;
        margin: 0 auto;
        margin-top: -20px;
    }

    @media (min-width: 740px) {
        width: 45px;
        margin-top: 0;
    }

    @media (min-width: 960px) {
        width: 50px;
    }
}

.header {
    position: relative;
    background: linear-gradient(180deg, #eff7f9 0%, #eff7f9 100%);
    background-size: 120px;
    background-position: right 20px top 80px;
    min-height: 300px;
    @media (min-width: 960px) {
        background: linear-gradient(180deg, #eff7f9 0%, #eff7f9 100%);
    }

    &::before {
        content: "";
        background: transparent url(../img/background-left.svg?v=1) no-repeat;
        background-size: 100%;
        background-position: center 23px;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 200px;
        height: 218px;

        @media (min-width: 680px) {
            width: 460px;
            height: 344px;
        }

        @media (min-width: 960px) {
            left: calc((1300px / -2) + calc(100% / 2));
            width: 600px;
            height: 366px;
        }
    }

    &::after {
        content: "";
        background: transparent url(../img/background-right.svg?v=1) no-repeat;
        background-size: 100%;
        background-position: center 23px;
        position: absolute;
        bottom: 0px;
        right: 20px;
        width: 120px;
        height: 200px;

        @media (min-width: 680px) {
            width: 200px;
            height: 236px;
        }

        @media (min-width: 960px) {
            right: calc((1100px / -2) + calc(100% / 2));
            width: 300px;
            height: 255px;
        }
    }
}

.browser-ie-11 .header {
    @media (min-width: 960px) {
        &::before {
            width: 1480px;
            height: 460px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            background-image: url("../img/background-full.svg");
        }

        &::after {
            content: none;
        }
    }
}

// Slim header, used on subpages

.header--slim {
    min-height: 180px;
    padding: 0 0 50px 0;
    color: #ffffff;
    background: linear-gradient(0deg, #c9005d 38%, #315bbc 130%);

    &::before,
    &::after {
        content: none;
    }

    .header__logo-badge {
        position: absolute;
        top: 5px;
        right: 30px;
        bottom: 0;
        z-index: 0;
        width: 80px;

        .browser-ie-11 & {
            right: 166px;
        }
    }

    @media (min-width: 740px) {
        min-height: 220px;
    }

    @media (min-width: 960px) {
        background: linear-gradient(0deg, #c9005d 38%, #315bbc 130%);

        &:before {
            content: none;
            background-image: none;
        }

        .header__logo-badge {
            /** Perfect alignment: width: of this element, width of the element above */
            width: 80px;
            right: calc((980px / -2) + calc(100% / 2));
        }
    }
}

.header__title {
    font-size: 1.875rem;
    font-weight: 800;
    padding-top: 30px;

    @media (min-width: 740px) {
        font-size: 2.5rem;
        padding-left: 55px;
    }

    @media (min-width: 960px) {
        padding-left: 155px;
    }
}

.header__center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: 740px) {
        padding: 0 40px;
    }

    @media (min-width: 960px) {
        padding: 0 40px;
    }
}

.header__layout {
    color: $color-RO_darkblue;
    padding: 0 0 10em 1.38em;
    position: relative;

    @media (min-width: 680px) {
        padding: 0 0 15em 4em;
    }

    @media (min-width: 960px) {
        padding: 0 0 10em 0;
        margin-left: 90px;
    }
}

.header__layout__middle {
    @media (min-width: 960px) {
        position: relative;
        padding: 20px 0 0 180px;
    }
}

.header__text {
    position: relative;
    margin-bottom: 1.5em;
    font-size: 1.75rem;
    line-height: 1.16em;
    max-width: 350px;

    @media (min-width: 680px) {
        max-width: 700px;
        padding-right: 0.5em;
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    @media (min-width: 960px) {
        width: 100%;
    }
}

.header__logo-badge {
    width: 100px;
    margin: 0 0 1.5em;

    @media (min-width: 680px) {
        margin: 1.5em 0;
    }

    @media (min-width: 960px) {
        width: 132px;
        position: relative;
        float: left;
    }
}

.header__layout__faq-link {
    position: absolute;
    top: 38px;
    right: 230px;
    min-width: 118px;
    font-weight: 800;
    font-size: 1.25rem;
    display: none;

    @media (min-width: 960px) {
        display: inline-block;
    }

    [lang="bg"] & {
        right: 300px;
    }
}

.lead {
    position: relative;
    margin: -3.7em 0 0 0;
    padding: 2em 1.6em 0 1.6em;
    background-color: #fff;
    border-radius: 2em;
    color: #333333; /* RO tekst */

    @media (min-width: 740px) {
        padding: 2em 2.4em 0 54px;

        html[dir="rtl"] {
            padding: 2em 54px 0 2.4em;
        }
    }

    @media (min-width: 960px) {
        margin-left: 90px;
        max-width: 740px;

        html[dir="rtl"] {
            margin-right: 90px;
            margin-left: 0;
        }
    }
}

html[dir="rtl"] {
    .header {
        @media (min-width: 960px) {
            &::before {
                position: absolute;
                left: auto;
                right: calc((1300px / -2) + calc(100% / 2));
                transform: scaleX(-1);

                .browser-ie-11 & {
                    left: auto;
                    right: calc(((100% - 1200px) / 2) - 1px);
                }
            }
        }

        @media (min-width: 1080px) {
            &::before {
                .browser-ie-11 & {
                    left: auto;
                    right: calc(((100% - 1300px) / 2) - 1px);
                }
            }
        }

        &::after {
            transform: scaleX(-1);
            background-position: center -23px;
            left: 20px;
            right: auto;

            @media (min-width: 960px) {
                left: calc((1100px / -2) + calc(100% / 2));
                right: auto;
            }
        }
    }

    .header--slim {
        padding: 0 0 50px 0;

        .header__logo-badge {
            left: 30px;
            top: 28px;
            transform: none;
            right: auto;

            .browser-ie-11 & {
                left: 166px;
                right: auto;
            }
        }

        @media (min-width: 960px) {
            .header__logo-badge {
                /** Perfect alignment: width: of this element, width of the element above */
                width: 80px;
                left: calc((980px / -2) + calc(100% / 2));
                right: auto;
            }
        }
    }

    .header__title {
        @media (min-width: 740px) {
            padding-right: 55px;
            padding-left: inherit;
        }

        @media (min-width: 960px) {
            padding-right: 155px;
            padding-left: inherit;
        }
    }

    .header__text {
        @media (min-width: 680px) {
            padding-right: 0;
        }

        @media (min-width: 960px) {
            margin-left: 424px;
            margin-right: 0;
        }

        h1 {
            @media (min-width: 960px) {
                margin-left: 9rem;
                margin-right: 0;
            }
        }
    }

    .header__layout {
        padding: 0 1.38em 10em 0;

        @media (min-width: 680px) {
            padding: 0 4em 15em 0;
        }

        @media (min-width: 960px) {
            padding: 0 0 10em 0;
            margin-right: 90px;
        }
    }

    .header__layout__middle {
        @media (min-width: 960px) {
            padding: 20px 180px 0 0;
        }
    }

    .header__logo-badge {
        @media (min-width: 960px) {
            float: right;
        }
    }
}
