
.faq-homepage {
    margin: 2em auto
}

@media (min-width: 740px) {
    .faq-homepage {
        margin:4em auto
    }
}

.faq-homepage__title {
    font-size: 32px;
    line-height: 40px;
    color: #333;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #154273;
    text-align: center
}

@media (min-width: 740px) {
    .faq-homepage__title {
        margin-top:80px;
        margin-bottom: 20px
    }
}

.faq-homepage__more {
    margin: 30px 0;
    text-align: center;
    padding: 0 22px
}

@media (min-width: 740px) {
    .faq-homepage__more {
        margin-top:20px 0
    }
}

@media (min-width: 960px) {
    .faq-homepage__more {
        margin:40px 0
    }
}

.highlighted-faqs {
    margin: 10px auto 22px auto;
    padding: 0 10px;
    max-width: 1190px;

    @media (min-width: 740px) {
        margin: 10px auto 22px auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        margin-bottom: -16px; // Compensate for highlighted-faq tile margins
    }

    @media (min-width: 960px) {
        padding: 0 64px;
    }
}

.highlighted-faq {
    margin: 16px;
    flex-grow: 0;
    position: relative;

    @media (min-width: 740px) {
        width: calc(50% - 32px);
    }

    @media (min-width: 960px) {
        width: calc(33.333% - 32px);
    }
}

.highlighted-faq__summary {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-position: left 25px top 25px;
    background-size: 42px;
    height: 100%;
    list-style-type: none;
    color: #333333;
    min-height: 138px;
    border-radius: 5px;
    box-shadow: 0 2px 9px -2px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    overflow: hidden;

    html.browser-ie-11 & {
        box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.26);
    }

    &:hover {
        background-color: #F5F5F5 /* lichtgrijs */;
    }

    html[dir="rtl"] & { 
        background-position: right 25px top 25px;
        background-size: 42px;
        box-shadow: 0 -2px 9px -2px rgba(0, 0, 0, 0.2);
    }
        
    html.browser-ie-11[dir="rtl"] {
        box-shadow: 0 -2px 20px -2px rgba(0, 0, 0, 0.26);
    }
}

.highlighted-faq__content {
    flex: 1 1 auto;
    padding: 18px 20px 0 85px;

    html[dir="rtl"] & { 
        padding: 18px 85px 0 20px;
    }

    p {
        line-height: 1.38em;
        margin-bottom: 1.2rem;
    }
}

.highlighted-faq__summary__btn-expand {
    flex: 0 0 auto;
    display: block;
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 0.8em 0.5em 1em 85px;
    margin: 0;
    color: $color-RO_darkblue;
    background: transparent;
    font-size: 1.1em;
    font-family: inherit;
    text-align: left;
    cursor: pointer;
    transition: var(--transition-in);

    html[dir="rtl"] & { 
        padding: 0.8em 85px 1em 0.5em;
        text-align: right;
    }

    &:after {
        // Make the whole .highlighted-faq-summary clickable
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:focus {
        color: #fff;
        background-color: $color-RO_darkblue--interaction;
        transition: var(--transition-in--fast);
        outline: 0;
    }

    > .icon {
        position: relative;
        top: 1px;
        margin: 0 -0.4em 0 -0.4em;
    }
}

.highlighted-faq__img {
    position: absolute;
    top: 23px;
    left: 23px;

    html[dir="rtl"] & { 
        right: 23px;
        left: auto;
    }
    
    svg {
        max-width: 46px;
        color: $color-WARN_red;

        .highlighted-faq__summary:hover & {
            color: $color-RO_darkblue--interaction;
        }
    }
}
