.plot-swatch {
    margin-bottom: 0.5em;
    margin-left: 0px;
}

.plot-swatch:first-child {
    --color: #157cca;
}

.plot-swatch:last-child {
    --color: #ec025f;
}

.plot-swatch::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
    background: var(--color);
}

.plot-legend {
    display: flex;
    min-height: 33px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
}
.plot-swatch {
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
}

.plot img,
.plot-legend {
    margin-top: 20px;
}

.plot-legend + img {
    margin-top: 0;
}
