
<div class="{{ include.class }}">
  
  {% if include.class %}
    <h2> {{ site.data.translations.info-lead-title[page.lang] }}:</h2>
  {% endif %}
  <ul class="layout-app-badges">
    <li class="app_badge_column__left">
      <a class=" app-store" href="{{ site.data.translations.info-app-store-url[page.lang] }}">
        <img src="{{ site.baseurl }}/img/{{ site.data.translations.info-app-store-img[page.lang] }}" 
        alt="{{ site.data.translations.header-appstore[page.lang] }}" 
        height="65" width="196"
        />
      </a>
    </li>
    <li class="app_badge_column__right">
      <a class="play-store" href="{{ site.data.translations.info-google-play-url }}">
        <img src="{{ site.baseurl }}/img/{{site.data.translations.info-google-play-img[page.lang] }}" alt="{{ site.data.translations.header-googleplaystore[page.lang] }}" height="65" width="216" />
      </a>
    </li>
    <li class="app_badge_column__right {% if include.huawei != 'true' %}huawei-only-show-mobile{% endif %}">
      <a class="huawei-store" href="{{ site.data.translations.info-huawei-url }}">
        <img src="{{ site.baseurl }}/img/{{site.data.translations.info-huawei-img[page.lang]  }}" alt="{{ site.data.translations.header-huaweiappgallery[page.lang] }}" height="65" width="216" />
      </a>
    </li>
  </ul>
</div>
