
<div class="{{ include.class }}">
  
  {% if include.class %}
    <h2> {{ site.data.translations.info-lead-title[page.lang] }}:</h2>
  {% endif %}
  <div class="layout-app-badges">
    <a class="app_badge_column__left app-store" href="{{ site.data.translations.info-app-store-url[page.lang] }}">
      <img src="/img/{{ site.data.translations.info-app-store-img[page.lang] }}" alt="{{ site.data.translations.header-appstore[page.lang] }}" />
    </a>
    <a class="app_badge_column__right play-store" href="{{ site.data.translations.info-google-play-url[page.lang] }}">
      <img src="/img/{{site.data.translations.info-google-play-img[page.lang]}}" alt="{{ site.data.translations.header-googleplaystore[page.lang] }}" />
    </a>
  </div>
</div>