{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}

<nav class="content-center__home breadcrumbs" aria-label="Je bent hier"> 
  <ul> 
  {% for crumb in crumbs offset: 1 %}
  {{% assign start_crumb = '' %}}
    {% if forloop.first %}
    <li class="breadcrumbs-item"> 
        <a class="breadcrumbs" href="{{langSlug}}">
          {{ site.data.translations.layout-template-home[page.lang] }}
        </a>
        {% if forloop.last == false %}
          <span class="icon icon-chevron-right"></span>
        {% endif %}
    </li> 
    {% elsif forloop.last == false %}
      <li  class="breadcrumbs-item">
        <a class="breadcrumbs" href="{{langSlug}}/faq">
          {{ site.data.translations.faq[page.lang] | truncate: 40 }}
        </a>
        <span class="icon icon-chevron-right"></span>
      </li>
    {% else %}
      <li class="breadcrumbs-item"> 
        {% if page.contentLang == 'en' %}
          <a class="breadcrumbs disabled" dir="ltr" lang="en">{{ include.title | truncate: 40 }}</a>
        {% else %}
          <a class="breadcrumbs disabled">{{ include.title | truncate: 40 }}</a>
        {% endif %}

        <!-- {% if forloop.last == false %}
          <span class="icon icon-chevron-right"></span>
        {% endif %}  -->
      </li> 
    {% endif %} 
    {% endfor %}
  </ul> 
</nav>
