

.faq {
    display: block;
    background-color: #F5F5F5 /* lichtgrijs */;
    margin: 50px auto 22px auto;
    padding: 20px;
    max-width: 1190px;
    position: relative;

    @media (min-width: 960px) {
        padding: 50px 80px;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        transform: rotate(45deg);
        transform-origin: center;
        background: inherit;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.faq > h2 {
    font-size: 32px;
    line-height: 40px;
    color: #333;
    margin-top: -6px; // Compensate for line-height
    margin-bottom: 17px;

    @media (min-width: 960px) {
        margin-bottom: 42px;
    }
}

.faq input[name=faq] {
    display: none;
}

//
// Faq layout
//

