<div class="faq">
  <h2 id="faq">{{ site.data.translations.faq[page.lang] }}</h2>

  <div class="faq-layout">

    {% assign questions = site.questions | where:"lang", page.lang | sort: "index" | slice: 0, 3 %}
    <div class="faq-layout__contents">
      <ul class="faq-layout__contents__list">
        {% for question in questions %}
          <li>
            <a class="fag-item" href="{{ question.url }}" id="faq-{{ question.index }}">
              {{ question.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <a href="/faq" class="fag__link">Alle veelgestelde vragen </a>
    
</div>