<div class="faq tabbable">
  <h2 id="faq">{{ site.data.translations.faq[page.lang] }}</h2>

  <div class="faq-layout">

    {% assign questions = site.questions | where:"lang", page.lang | sort: "index" | sort: "name" | slice: 0, 3 %}
    <div class="faq-layout__contents">
      <ul class="faq-layout__contents__list">
        {% for question in questions %}
          <li>
            <a href="/faq/{{ question.index }}" id="faq-{{ question.index }}" class="tabbable-tab">
              {{ question.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <a class="faq-layout__tab-panels__updates-will-follow">Alle veelgestelde vragen </a>
    
</div>