
.footer-samen {
    padding: 2.2rem 1.4rem 2rem 1.4em;
    max-width: 1100px;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    @media(min-width: 740px) {
        padding-top: 3.2em;
        display: flex;
    }

    @media(min-width: 960px) {
        padding-top: 5em;
        margin: 0 auto;
    }
}

.footer-samen__logo {
    position: relative;
   

    > img {
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        transition: var(--transition-out);

        @media(min-width: 740px) {
            width: 312px;
        }
    }

    &:hover {
        img {
            transform: scale(1.06);
            transition: var(--transition-in);
        }
    }
}

.footer-samen__follow {
    margin-top: 2em;
    font-size: 1.4em;
    font-weight: 600;

    span.md-highlight {
        color: $color-WARN_rood;
    }

    @media (min-width: 740px) {
        margin-top: 0.5rem;
        margin-left: 2em;
    }

    @media (min-width: 960px) {
        margin-left: 120px;
        margin-top: 0.2rem;
        font-size: 32px;
    }
}

//
// Phone footer
//

.footer-phone {
    padding: 2.2rem 1.4rem 2rem 1.4em;
    max-width: 1100px;
    flex-direction: column;

    @media(min-width: 740px) {
        padding-top: 3.0em;
        padding-bottom: 3.2em;
        display: flex;
    }

    @media(min-width: 960px) {
        padding-top: 4.0em;
        padding-bottom: 5em;
        margin: 0 auto;
    }
}

.footer-phone_text {
    color: #154273 /* RO blauw */;
    font-size: 32px
}

.footer-phone_action_text {
    color: #CA005D /* RO pink */;
    font-size: 32px
}


//
// Regular footer
//

.footer {
    background: #0E6999;
}

.footer-inner {
    position: relative;
    padding: 1em;
    margin: 0 auto;
    max-width: 1100px;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    
    @media (min-width: 740px) {
        margin-right: 1.6em;
        margin-left: 1.6em;
        padding-bottom: 2.5em;
        //padding: 2em 1em calc(1.4em + 24px) 1em;
    }
    
    @media (min-width: 960px) {
        //padding: 1em 3em calc(1.4em + 24px) 3em;
        margin: 4.8em auto 0 auto;
    }
    
    @media (min-width: 1200px) {
        //padding-bottom: 0.4em;
    }
    
    &:after {
        content: '';
        position: absolute;
        top: -25px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: $color-RO_donkerblauw;
        height: 1.6em;
        width: 45px;
    
        @media (min-width: 740px) {
            width: 45px;
        }
    
        @media (min-width: 960px) {
            width: 50px;
        }
    }
}

.footer__social {
    
}

.footer__links {
    font-size: 16px;
    line-height: 1.38em;
    
    a, a:visited {
        color: #fff;
    }

    a:before {
        content: '';
        position: relative;
        height: 10px;
        width: 10px;
        background-color: #fff;
        -webkit-mask: url(../img/chevron-right.svg) no-repeat 50% 50%;
        mask: url(../img/chevron-right.svg) no-repeat 50% 50%;
        transition: var(--transition-out);
        padding: 10px;
    }

    h3 {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    ul li {
        list-style: none;
        margin-bottom: 0.4em;
        
        a {
            display: block;
        }
    }

    @media(min-width: 960px) {
        display: flex;
    }
}

.footer__links__col {
    @media(min-width: 960px) {
        padding: 0 50px 0 0;
    }

    @media(min-width: 960px) {
        &.___desktop-33 {
            // order: 2;
            width: 33.3%;
        }
        
        &.___desktop-66 {
            // order: 1;
            width: 66.6%;
        }

        &.___desktop-50 {
            // order: 2;
            width: 50%;
        }
        
        &.___desktop-25 {
            // order: 1;
            width: 25%;
        }
    }
}

.footer-logos-info {
    margin-top: 0;
    font-size: 16px;

    @media (min-width: 960px) {
        margin-top: 28px;
    }
}

.footer-logos {
    margin: 1em 0 2em 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    > a {
        margin-top: 1em;
        margin-right: 1.4em;
    }

    > a > img {
        display: block;
        max-height: 120px;
        height: 100%;
        width: 100%;

        &.___logo-ggd {
            height: auto;
            width: 162px;
        }
    }
}

.footer__misc {
    margin: 2em 0 0 0;
    font-size: 0.84em;

    a, a:visited {
        color: #fff;
    }
}