{% if page.layout == 'content' or page.layout == 'content-statements'  %}
{% assign small = 'small' %}
{% endif %}

<div class="footer-phone {{ small }} phone__row">
  
  <div class="footer-phone__column-left">
    <img src="{{relroot}}img/phone-icon.svg" alt="">
  </div>
  <div class="footer-phone__column-right"> 
    <h2 class="screen-reader-text">{{ site.data.translations.footer-contact-title[page.lang] }}</h2>
    <p>
      <span class="footer-phone_text">{{ site.data.translations.footer-phone[page.lang] }}</span> 
      <span class="footer-phone_action_text">{{ site.data.translations.footer-phone-action[page.lang] }}</span>
    </p>

    <h3 class="screen-reader-text">{{ site.data.translations.footer-phone-opening[page.lang] }}</h3>
    <p>
      <span class="footer-opening-hours">{{ site.data.translations.footer-phone-opening[page.lang] }}</span> <br/>
      {{ site.data.translations.footer-phone-opening-hours[page.lang] }} <br/>
      {{ site.data.translations.footer-phone-opening-hours-weekend[page.lang] }} <br/>
    </p>
  </div>
</div> 