
.footer-samen {
    padding: 2.2rem 1.4rem 2rem 1.4em;
    max-width: 1100px;
    flex-direction: column;

    @media(min-width: 740px) {
        padding-top: 3.2em;
        display: flex;
    }

    @media(min-width: 960px) {
        padding-top: 5em;
        margin: 0 auto;
    }
}

.footer-samen__logo {
    position: relative;

    > img {
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        transition: var(--transition-out);

        @media(min-width: 740px) {
            width: 312px;
        }
    }

    &:hover {
        img {
            transform: scale(1.06);
            transition: var(--transition-in);
        }
    }
}

.footer-samen__follow {
    margin-top: 2em;
    font-size: 1.4em;
    font-weight: 600;

    span.md-highlight {
        color: $color-WARN_rood;
    }

    @media (min-width: 740px) {
        margin-top: 0.5rem;
        margin-left: 2em;
    }

    @media (min-width: 960px) {
        margin-left: 120px;
        margin-top: 0.2rem;
        font-size: 32px;
    }
}

//
// Regular footer
//

.footer {
    position: relative;
    border-top: 1px solid $color-RO_donkerblauw;
    padding: 1em 0 calc(1.4em + 24px) 0;
    margin: 3em 1.4em 0 1.4em;
    max-width: 1100px;
    font-size: 1em;
    line-height: 1em;
    
    @media (min-width: 740px) {
        margin-right: 1.6em;
        margin-left: 1.6em;
        padding: 2em 1em 0.4em 1em;
    }
    
    @media (min-width: 960px) {
        padding: 1em 3em 1em 3em;
        margin: 4.8em auto 0 auto;
    }
    
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: $color-RO_donkerblauw;
        height: 1.6em;
        width: 45px;
    
        @media (min-width: 740px) {
            width: 45px;
        }
    
        @media (min-width: 960px) {
            width: 50px;
        }
    }
}

.footer__social {
    
}

.footer__links {
    font-size: 1em;
    line-height: 1.38em;

    h3 {
        margin-top: 2em;
        margin-bottom: 0.4em;
        font-size: 1.1em;
    }

    ul li {
        list-style: none;
        margin-bottom: 0.4em;
        
        a {
            display: block;
        }
    }

    @media(min-width: 960px) {
        display: flex;
    }
}

.footer__links__col {
    @media(min-width: 960px) {
        padding: 0 2em 0 0;
    }

    @media(min-width: 960px) {
        &.___desktop-33 {
            // order: 2;
            width: 33.3%;
        }

        &.___desktop-66 {
            // order: 1;
            width: 66.6%;
        }
    }
}

.footer-logos-info {
    margin-top: 0;

    @media (min-width: 960px) {
        margin-top: 28px;
    }
}

.footer-logos {
    margin: 1em 0 2em 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    > a {
        margin-top: 1em;
        margin-right: 1.4em;
    }

    > a > img {
        display: block;
        max-height: 120px;
        height: 100%;
        width: 100%;

        &.___logo-ggd {
            height: auto;
            width: 162px;
        }
    }
}

.footer__misc {
    margin: 2em 0 0 0;
    font-size: 0.84em;
}