{% if page.layout == 'content' or page.layout == 'content-statements'  %}
{% assign small = 'small' %}
{% endif %}

<div class="footer-phone {{ small }} ">
<h2 class="footer-phone_text">{{ site.data.translations.footer-phone[page.lang] }}</h2>
<h3 class="footer-phone_action_text">{{ site.data.translations.footer-phone-action[page.lang] }}</h3>

<h4 class="footer-opening-hours">{{ site.data.translations.footer-phone-opening[page.lang] }}</h4>
<p>{{ site.data.translations.footer-phone-opening-hours[page.lang] }}</p>
<p>{{ site.data.translations.footer-phone-opening-hours-weekend[page.lang] }}</p>
</div> 