<script src="{{ site.baseurl }}/js/generic.js?v={{ timeslug }}"></script>
<script src="{{ site.baseurl }}/js/vendors/details-element-polyfill.2.4.0.js" crossorigin="anonymous" async></script>
<script src="{{ site.baseurl }}/js/language-picker.js?v={{ timeslug }}" async></script>

{% comment %}
<script src="{{ site.baseurl }}/js/vendors/mediaelement.4.2.16/mediaelement-and-player.min.js"></script>
<script src="{{ site.baseurl }}/js/vendors/mediaelement.4.2.16/lang/nl.js"></script>
<script src="{{ site.baseurl }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y.min.js"></script>
<script src="{{ site.baseurl }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y-i18n.js"></script>
<script src="{{ site.baseurl }}/js/mediaplayer.js"></script>
{% endcomment %}
