<script>
    var prevSlide = "{{ site.data.translations.info-slider-btn-prev-slide[page.lang] }}";
    var nextSlide = "{{ site.data.translations.info-slider-btn-next-slide[page.lang] }}";
    var firstSlide = "{{ site.data.translations.info-slider-first-slide[page.lang] }}";
    var lastSlide = "{{ site.data.translations.info-slider-last-slide[page.lang] }}";
    var bulletSlide = "{{ site.data.translations.info-slider-goto-slide[page.lang] }} ";
</script>

<script src="{{ relroot }}js/generic.js?v={{ timeslug }}"></script>
<script src="{{ relroot }}js/info-slider.js?v={{ timeslug }}"></script>
<script src="{{ relroot }}js/statements.js?v={{ timeslug }}"></script>
<script src="{{ relroot }}js/faq-tabbable.js?v={{ timeslug }}"></script>
<script src="{{ relroot }}js/vendors/details-element-polyfill.2.4.0.js" crossorigin="anonymous" async></script>
<script src="{{ relroot }}js/language-picker.js?v={{ timeslug }}" async></script>
