<footer>
    {% if page.showContact  %}
        {% include footer-phone.html %}
    {% endif %}
    
    {% if page.showTogether  %}
    <div class="footer-samen {{ small }}">
        <a class="footer-samen__logo" href="{{ site.data.translations.footer-samen-logo-url }}">
            <img src="{{ relroot }}img/logo-alleen-samen.svg?v={{ timeslug }}" alt="{{ site.data.translations.footer-samen-logo[page.lang] }}" />
        </a>
    </div>
    {% endif %}

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-links">
                <div class="footer-links-col ___desktop-50">
                    <div class="footer-logos-info">
                        <h2 class="screen-reader-text">{{ site.data.translations.footer-colophon[page.lang] | markdownify }}</h2>
                        {{ site.data.translations.footer-logos-info_md[page.lang] | markdownify }}</div>
                </div>
                <div class="footer-links-col ___desktop-25">
                    <h3>{{ site.data.translations.footer-misc-title[page.lang] }}</h3>
                    <ul>
                        <li>
                            <a href="{{ langSlug }}/{{ site.data.translations.footer-misc-privacy-url }}">
                                {{ site.data.translations.footer-misc-privacy[page.lang] }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}/{{ site.data.translations.footer-misc-cookies-url }}">
                                {{ site.data.translations.footer-misc-cookies[page.lang] }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}/{{ site.data.translations.footer-misc-colofon-url[page.lang] }}">
                                {{ site.data.translations.footer-misc-colofon[page.lang] }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}/{{ site.data.translations.footer-misc-accessibility-statement-url[page.lang] }}">
                                {{ site.data.translations.footer-misc-accessibility-statement[page.lang] }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}/{{ site.data.translations.footer-misc-report-vulnerability-url[page.lang] }}">
                                {{ site.data.translations.footer-misc-report-vulnerability[page.lang] }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}/{{ site.data.translations.footer-misc-pers-url[page.lang] }}">
                                {{ site.data.translations.footer-misc-pers[page.lang] }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links-col ___desktop-25">
                    <h3>{{ site.data.translations.footer-more-info-title[page.lang] }}</h3>
                    <ul>
                        <li><a href="{{ site.data.translations.footer-more-info-url }}">{{ site.data.translations.footer-more-info[page.lang] }}</a></li>
                    </ul>
                </div>
    
            
            </div>
        
        </div>
    </div>
</footer>

{% include footer-js.html %}
