<head>
    <meta charset="UTF-8">
    <title>{% if page.title != '' %}{{ page.title }} - {% endif %}{{ site.data.translations.page-title[page.lang] }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ site.url }}/js/vendors/mediaelement.4.2.16/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="{{ site.url }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y.min.css" />
    <link href="{{ site.baseurl }}/css/main.css?v={{ timeslug }}" rel="stylesheet">

    {%- if page.lang == 'ar' -%}
        <link href="{{ site.baseurl }}/css-rtl/main-rtl.css?v={{ timeslug }}" rel="stylesheet">
    {% endif %}

    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextregular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextregular.woff" type="font/woff2" crossorigin="anonymous">
    {% comment %}
        <!-- <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextitalic.woff" as="font" type="font/woff" crossorigin="anonymous"> -->
    {% endcomment %}
    <link rel="preload" href="{{ site.baseurl }}/fonts/ROsanswebtextbold.woff" as="font" type="font/woff" crossorigin>
    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script src="{{ site.baseurl }}/js/vendors/focus-visible.5.1.0.min.js" crossorigin="anonymous" async></script>

    <meta name="description" content="{{ site.data.translations.head-social-og-description[page.lang] }}">

    <link rel="alternate" hreflang="nl-NL" href="https://coronamelder.nl" />
    <link rel="alternate" hreflang="en-GB" href="https://coronamelder.nl/en" />

    <meta property="og:site_name" content="{{ site.data.translations.head-social-og-site_name[page.lang] }}">
    <meta property="og:title" content="{{ site.data.translations.head-social-og-title[page.lang] }}" />
    <meta property="og:description" content="{{ site.data.translations.head-social-og-description[page.lang] }}"/>
    <meta property="og:image" content="https://coronamelder.nl/img/{{ site.data.translations.head-social-og-image-url[page.lang] }}">
    <meta property="og:updated_time" content="{{ site.time | date: "%s" }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://coronamelder.nl">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.data.translations.head-social-og-title[page.lang] }}" />
    <meta name="twitter:description" content="{{ site.data.translations.head-social-og-description[page.lang] }}" />
    <meta name="twitter:image" content="https://coronamelder.nl/img/{{ site.data.translations.head-social-og-image-url[page.lang] }}" />
    <meta name="twitter:image:alt" content="{{ site.data.translations.head-social-og-image-alt[page.lang] }}" />
</head>
