<header>
  <div class="skiplinks">
    <a href="#content">
      {{ site.data.translations.header-skip-to-content[page.lang] }}
    </a>
  </div>
  {%- if (site.data.translations.development[page.lang] && site.data.translations.development[page.lang] != '') -%}
    <div class="badge">
      <span class="note">{{ site.data.translations.note[page.lang] }}</span> {{ site.data.translations.development[page.lang] }}
    </div>
  {%- endif -%}
  <div class="logobar">
    <div class="logo">
      <a href="{{ langSlug }}">
        <img src="{{ site.baseurl }}/img/logo-RO.svg" alt="{{ site.data.translations.govlogo[page.lang] }}: {{ page.title }}">
      </a>
    </div>
  </div>
  <div class="header-yellow">
    <div class="container">
      <div class="header-yellow__text">
        {% include language-picker.html %}
        <h1>
          {{ site.data.translations.header-title[page.lang] }}
        </h1>
        {% if site.data.translations.header-subtitle[page.lang] != undefined %}
        <h2 class="subtitle">{{ site.data.translations.header-subtitle[page.lang] }}</h2>
        {% endif %}
      </div>
      {% comment %}<!-- TODO See #61 <div class="watch"><a href="#">{{ site.data.translations.watch[page.lang] }}</a></div> -->{% endcomment %}
    </div>
  </div>
</header>
