<header>
  <div class="badge"><span class="note">{{ site.data.translations.note[page.lang] }}</span> {{ site.data.translations.development[page.lang] }}</div>
  <div class="logobar">
    <div class="logo">
      <img src="{{ relroot }}img/logo-RO.svg" alt="{{ site.data.translations.govlogo[page.lang] }}">
      <!-- TODO: <span class="wordmark">
        <span class="sender">{{ site.data.translations.minvws[page.lang] }}</span>
      </span> -->
    </div>
  </div>
  <div class="header-yellow">
    <div class="container">
      <div class="header-yellow__text">
        <div class="header-yellow__language-picker">
          {{ site.data.translations.header-language-picker-label[page.lang] }}:
          <strong>{{ site.data.languages[page.lang].label }}</strong>
          <span class="languages">
            {% for lang in site.data.languages %}
                {% assign language = lang[1] %}
                {% if lang[0] != page.lang %}
                  <span>&nbsp; <a href="/{{site.baseurl}}{% if lang[0] != 'nl' %}{{ lang[0] }}{% endif %}">{{ language.label }}</a></span>
                {% endif %}
            {% endfor %}
          </span>
        </div>
        <h1>
          {{ site.data.translations.header-title[page.lang] }}
        </h1>
        <h2 class="subtitle">{{ site.data.translations.header-subtitle[page.lang] }}</h2>
      </div>
      <!-- TODO <div class="watch"><a href="#">{{ site.data.translations.watch[page.lang] }}</a></div> -->
    </div>
  </div>
</header>
