<header>
  <div class="skiplinks">
    <a href="#content">
      {{ site.data.translations.header-skip-to-content[page.lang] }}
    </a>
  </div>
  <div class="header">
    <div class="logobar">
      <div class="logo">
        <a href="{{ langSlug }}" class="logo-link">
          <img src="{{ site.baseurl }}/img/logo-RO.svg" alt="{{ site.data.translations.govlogo[page.lang] }}" width="40" height="80">
        </a>
      </div>
      <a href="{{ langSlug }}/faq" class="header__layout__faq-link">
        {{ site.data.translations.faq[page.lang] }}
      </a>
      {% include language-picker.html %}
    </div>
    <div class="container">
      <div class="header__layout">
        <img src="{{ site.baseurl }}/img/logo-app.svg" class="header__logo-badge" alt="{{ site.data.translations.header__logo-badge[page.lang] }}" />
        <div class="header__layout__middle">
            <h1 class="header__text">
                {{ site.data.translations.header-title[page.lang] }}
            </h1>
            {% if site.app_status != "disabled" %}
                {% include badges.html %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
