<div class="information">
  <h2 class="information-title">{{ site.data.translations.information-title[page.lang] }}:</h2>
  <div class="information-layout">

    <article class="information__block">
      <img
        src="{{ relroot }}img/information-images/privacy.svg"
        alt="{{ site.data.translations.information-privacy-alt[page.lang] }}"
        class="information__image"
      >
      {{ site.data.translations.information-privacy[page.lang] }}
    </article>

    <article class="information__block">
      <img
        src="{{ relroot }}img/information-images/bluetooth.svg"
        alt="{{ site.data.translations.information-bluetooth-alt[page.lang] }}"
        class="information__image"
      >
      {{ site.data.translations.information-bluetooth[page.lang] }}
    </article>

    <article class="information__block">
      <img
        src="{{ relroot }}img/information-images/naw.svg"
        alt="{{ site.data.translations.information-naw-alt[page.lang] }}"
        class="information__image"
      >
      {{ site.data.translations.information-naw[page.lang] }}
    </article>

    <article class="information__block">
      <img
        src="{{ relroot }}img/information-images/gps.svg"
        alt="{{ site.data.translations.information-gps-alt[page.lang] }}"
        class="information__image"
      >
      {{ site.data.translations.information-gps[page.lang] }}
    </article>

  </div>
</div>
