
<div class="info-slider">
  <div class="info-slider__slides">
    <!-- Swipe.JS Slider main container -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
          {% for info-slide in site.data.translations.info-slides[page.lang] %}
          <div class="swiper-slide">
            <div class="info-slide">
              <div class="info-slide__graphic">
                <!-- Note: pro-active lazy-load by Swipe.JS -->
                <img
                  data-src="{{ relroot }}img/info-slider/{{ info-slide.image }}.svg"
                  alt="" aria-hidden="true"
                  class="swiper-lazy"
                >
              </div>
              <div class="info-slide__text">
                <h3>{{ info-slide.title | markdownify }}</h3>
                {{ info-slide.content | markdownify }}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <button type="button" class="swiper-button-prev" aria-hidden="true"></button>
      <button type="button" class="swiper-button-next" aria-hidden="true"></button>
    </div>
  </div>
  <button
    type="button"
    class="info-slider__btn-pause"
  >
    {{ site.data.translations.info-slider-btn-pause[page.lang] }}
  </button>
</div>
<script type="text/javascript">{% include info-slider.js %}</script>
