
<div class="info-slider">
  <div class="info-slider__slides">
    <!-- Swipe.JS Slider main container -->
    <div class="swiper-container">

      <!-- #60 Accessibility wise this has been agreed upon as acceptable for both 
        screen-reader as keyboard users. The same applies to the next btn. -->
      <button type="button" class="swiper-button-prev">
        <span class="screen-reader-text">
          {{ site.data.translations.info-slider-btn-prev-slide[page.lang] }}:
          {{ site.data.translations.info-slider-title[page.lang] }}
        </span>
      </button>

      <nav aria-labelledby="info-container-title">
        <h2 id="info-container-title" class="screen-reader-text">
          {{ site.data.translations.info-slider-title[page.lang] }}
        </h2>
        <div class="swiper-pagination"></div>
      </nav>

      <button type="button" class="swiper-button-next">
        <span class="screen-reader-text">
          {{ site.data.translations.info-slider-btn-next-slide[page.lang] }}:
          {{ site.data.translations.info-slider-title[page.lang] }}
        </span>
      </button>

      <div class="swiper-wrapper">
        {% for info-slide in site.data.translations.info-slides[page.lang] %}
        {% assign firstSlide = '' %}
        {% if forloop.index == 1  %}
          {% assign firstSlide = '__first-slide' %}
        {% endif %}
       
          <div class="swiper-slide">
            <div class="info-slide " id="swiper-slide-{{ forloop.index }}" aria-labelledby="info-slide-title-{{ forloop.index }}">
              <div class="info-slide__graphic">
                {% comment %}<!-- Note: pro-active lazy-load by Swipe.JS -->{% endcomment %}
                {% comment %}<!-- Note: image is decorative -->{% endcomment %}
                <img
                  data-src="{{ relroot }}img/info-slider/{{ info-slide.image }}.svg"
                  alt="Illustraties"
                  class="swiper-lazy {{ firstSlide }}"
                >
              </div>
              <div class="info-slide__text {{ firstSlide }}">
                <div id="info-slide-title-{{ forloop.index }}">
                  <b>{{ info-slide.title | markdownify }}</b>
                </div>
                {{ info-slide.content | markdownify }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% comment %}<!-- TODO #91: temp disabled, waiting for CSS styling <button
    type="button"
    class="info-slider__btn-pause"
  >
    {{ site.data.translations.info-slider-btn-pause[page.lang] }}:
    {{ site.data.translations.info-slider-title[page.lang] }}
  </button>
  -->{% endcomment %}
</div>
