<div class="information">
  <h2 class="information-title">{{ site.data.translations.information-title[page.lang] }}</h2>
  <div class="information-layout">

    <article class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/alert.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.information-alert[page.lang] }}
    </article>

    <article class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/bluetooth.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.information-bluetooth[page.lang] }}
    </article>

    <article class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/naw.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.information-naw[page.lang] }}
    </article>

    <article class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/gps.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.information-gps[page.lang] }}
    </article>

  </div>
</div>
