<nav class="language-picker" aria-labelledby="language-picker-title" tabindex="-1">
  <p class="language-picker__current">
    {{ site.data.translations.header-language-picker-label[page.lang] }}:
    <strong>{{ site.data.languages[page.lang].label }}</strong>
  </p>
  <div class="language-dropdown">
    <h3 class="languages-title" id="languages-title">
      {{ site.data.translations.header-language-picker-switch-lang[page.lang] }}:
    </h3>
    <ul class="languages">
      {% for lang in site.data.languages %}
        {% assign language = lang[1] %}
        <li {% if lang[0] == page.lang %}class="___active"{% endif %}>
          <a
            href="{{ relroot }}{% if lang[0] != 'nl' %}{{ lang[0] }}{% endif %}"
            hreflang="{{ lang[0] }}"
            lang="{{ lang[0] }}"
          >
            {{ language.label }}
            {% if lang[0] == page.lang %}
              <span class="screen-reader-text">({{ site.data.translations.header-language-picker-current-lang[page.lang] }})</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
