.language-picker-placeholder {
    height: 44px;
}

.language-picker {
    display: inline-block;
    background: rgba(255, 255, 255, 0.38);
    padding: 0.8em 0.8em;
    color: #333;
    cursor: pointer;

    // &:hover {
    //     background: #fff;
    // }
}

.language--active {
    font-weight: bold;
}

.language-picker__current {
    display: inline;
}

.languages {
    margin: 0 0 0 4px;
    display: inline;

    li {
        display: inline;
        list-style: none;
    }
}