
<div class="statements">
  {% assign statements = site.statements | where:"lang", page.lang | sort: "index" %}
  {% for statement in statements %}

    <article class="statements__statement" id="statement-{{ statements.index }}">
      <div class="statement-summary">
        <div class="statement-summary__icon">
          {% include graphics/{{ statement.icon }}.svg %}
        </div>
        <div class="statement__content">
          <h2>{{ statement.title }}</h2>
          <p>{{ statement.summary }}</p>
        </div>
        <a  href="{{ statement.url }}" class="statement-summary__btn-expand">
          <span class="icon icon-chevron-right"></span>{{ site.data.translations.readmore[page.lang] }}
          <span class="screen-reader-text">{{ site.data.translations.readmore-about_screen-reader[page.lang] }}: {{ statement.title }}</span>
        </a>
      </div>

     
    </article>
  {% endfor %}
</div>