
.statements {

    @media (min-width: 740px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.statements__statement {
    margin: 16px;
    flex-grow: 0;
    position: relative;

    @media (min-width: 740px) {
        width: calc(50% - 32px);
    }

    @media (min-width: 960px) {
        width: calc(33.333% - 32px);
    }
}

.statement-summary {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-position: left 25px top 25px;
    background-size: 42px;
    height: 100%;
    list-style-type: none;
    color: #333333;
    min-height: 138px;
    border-radius: 5px;
    box-shadow: 0 2px 9px -2px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;

    html.browser-ie-11 & {
        box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.26);
    }

    &:hover {
        background-color: #F5F5F5 /* lichtgrijs */;
    }
}

.statement__content {
    flex: 1 1 auto;
    padding: 18px 20px 0 85px;

    h2 {
        font-size: 1.625em;
        line-height: 1.26em;
        margin-bottom: 0.45rem;
        color: $color-RO_donkerblauw;
    }

    p {
        line-height: 1.38em;
        margin-bottom: 1.2rem;
    }
}

.statement-summary__btn-expand {
    flex: 0 0 auto;
    display: block;
    border: 0;
    border-radius: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0.5em 0.5em 100px;
    margin: 0;
    color: $color-RO_donkerblauw;
    background: transparent;
    border-top: 1px solid rgba(21, 66, 115, 0.2) /* RO blauw */;
    font-size: 1.1em;
    font-family: inherit;
    text-align: left;
    cursor: pointer;

    &:after {
        // Make the whole .statement-summary clickable
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    > .icon {
        position: relative;
        top: 1px;
        margin: 0 -0.4em 0 -0.4em;
    }
}

// 
//
//

.statement-summary__icon {
    position: absolute;
    top: 18px;
    left: 18px;
    
    svg {
        max-width: 49px;
        color: $color-WARN_rood;

        .statement-summary:hover & {
            color: $color-RO_donkerblauw;
        }
    }
}

.details__expanded-box {
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 420px;
    width: calc(100% - 42px);
    border-radius: 0.4em 0 0 0.4em;
    transform: translate(110%, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.62);
    transition: 162ms ease-out;
    overflow-y: scroll;

    .statements__statement--expanded & {
        visibility: visible;
        transform: translate(0, 0);
        transition: 262ms ease-out;
    }
}

//
//
//

.details__summary__expanded-box-background {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 162ms ease-out;

    .statements__statement--expanded & {
        opacity: 1; 
        visibility: visible;
        transition: 262ms ease-out;
    }
}

.expanded-box__btn-collapse {
    display: block;
    padding: 0.5rem 0.5em 0.5em;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(21, 66, 115, 0.2);
    background-color: #F5F5F5 /* lichtgrijs */;
    color: $color-RO_donkerblauw;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
}

.expanded-box__header {
    position: relative;
    padding: 2em 4em 2em 6em;
    background-color: #F5F5F5 /* lichtgrijs */;
}

.expanded-box__header__icon {
    position: absolute;
    top: 2em;
    left: 2em;
    
    svg {
        max-width: 49px;
        color: $color-WARN_rood;

        details:hover & {
            color: $color-RO_donkerblauw;
        }
    }
}

.expanded-box__header__title {
    font-size: 1.625em;
    line-height: 1.26em;
    margin-bottom: 0.45rem;
    color: $color-RO_donkerblauw;
}

.expanded-box__content {
    padding: 2em 2em;
}

.expanded-box__want-to-know-more {
    padding: 1.7em 2em;
    background-color: #F5F5F5 /* lichtgrijs */;

    > h3 {
        margin-bottom: 0.26em;
    }
    
    > p {
        margin-bottom: 0;
    }
}
