<div class="video">
  <div class="video__description">
    <h2 class="video__description__title">{{ site.data.translations.home-video-title[page.lang] }}</h2>
    <div class="video__description__content">{{ site.data.translations.home-video-content_md[page.lang] | markdownify }}</div>
  </div>
  <div class="video__player">

    {% if page.lang == 'nl' or page.lang == 'fry' %}
      {% include components/mediaelement.html key="2020-10-07-video-beschermen" width="100%" height="220" %}
    {% endif %}

    {% if page.lang == 'en' %}
      {% include components/mediaelement.html key="201008-video-protect" width="100%" height="220" %}
    {% endif %}

  </div>
</div>
