$color-RO_darkblue: rgba(21, 66, 115, 1);
$color-RO_darkblue--interaction: rgba(0, 39, 131, 1);
$color-RO_lightblue: rgba(239, 247, 249, 1);
$color-coronacheck_black: #383836;
$color-coronacheck_blue: rgba(21, 64, 235, 1);
$color-lightgrey: rgba(245, 245, 245, 1);
$color-mediumgrey: rgba(172, 172, 172, 1);
$color-darkgrey: rgba(114, 118, 121, 1);
$color-magenta: #d2216b;

$color-focus: rgba(0, 143, 205, 1);
$color-focus-background: rgba(0, 39, 131, 0.1);
$color-focus-footer: rgba(255, 255, 255, 1);

$color-error: rgba(179, 9, 0, 1);
$color-background: rgba(255, 247, 246, 1);

$color-WARN_red: $color-error;
