.footer-samen__follow {

    @media (min-width: 740px) {
        margin-right: 2em;
        margin-left: 0;
    }

    @media (min-width: 960px) {
        margin-right: 120px;
        margin-left: 0;
    }
}

//
// Phone footer
//

.footer-phone__row {
    flex-direction: row-reverse;
}

.footer-phone__column-left {
    justify-content: right;
}


//
// Regular footer
//

.footer-links {
    ul li { 
        padding-left: 0;
        padding-right: 20px;
    }

    li > a::before {
        content: none;
    }

    li > a::after {
        content: '';
        position: absolute;
        right: -10px;
        top: -2px;
        height: 10px;
        width: 10px;
        background: url(../img/chevron-left-white.svg) no-repeat 50% 50%;
        transition: var(--transition-out);
        display: inline-block;
        margin-left: 5px;
        top: 5px;
        right: -20px;
    }
}

.footer-links-col {
    @media(min-width: 960px) {
        padding: 0 0 0 50px;
    }
}
