.language-picker {
    display: -ms-inline-grid; display: inline-grid;
    -ms-grid-columns: -webkit-max-content 32px;
    -ms-grid-columns: max-content 32px;
    grid-template-columns: -webkit-max-content 32px;
    grid-template-columns: max-content 32px;
}


.language-picker__chevron::after {
    right: auto;
    left: 16px;
}

.language-picker__dropdown {
    right: -9999px;
    top: -10px;
    left: auto;

    [aria-expanded="true"] ~ & {
        right: -8px;
        left: auto;
    }
}
