.stories__story {
  padding: 0 0 2em 1.6em;
}

.stories__story-column-image {
  @media (min-width: 740px) {
    margin-left: 0;
    margin-right: 1.5em;
    text-align: left;
  }
}

.stories__story-column-content {
  @media (min-width: 740px) {
    margin-right: 0;
    margin-left: 1.5em;
  }
}

.stories__story:nth-child(2n) {
  .stories__story-column-image {
    @media (min-width: 740px) {
      margin-right: 0;
      margin-left: 1.5em;
      text-align: right;
    }
  }
  
  .stories__story-column-content {
    @media (min-width: 740px) {
      margin-left: 0;
      margin-right: 1.5em;
    }
  }
}
