.content-block[dir="ltr"] {
    text-align: left;
}

.content-center {
    border-radius: 26px 0 0 26px;

    @media (min-width: 740px) {
        border-radius: 34px 0 0  34px;
    }
}

.content-center__home {
    .icon-chevron-left {
        right: -3px; 
        left: auto;
    }

    .icon-chevron-right {
        right: 3px;
        left: auto;    
    }

    &.return_link {
        margin-right: 0;
        margin-left: 0;
    } 
}

.content-error {
    &:after {
        right: auto;
        left: 100px;
    }
}

.content-right-top {
    text-align: left;
}


.content-block {
    font-size: 16px;
    line-height: 142%;
    color: #333;
    margin-bottom: 20px;


    ul {
        margin-right: 1em;
        margin-left: 0;

        ul {
            margin-right: 1.1em;
            margin-left: 0;
        }
    }

    ol {
        margin-right: 15px;
        margin-left: 0;
    }


    table {
        tr {
            th, td {
                text-align: right;
            }
        }
    }

    .md-timeline {
        padding: 1em 0;

        ul,
        ol {
            margin-right: 0;

            li {
                padding-right: 33px;
                padding-left: 0;

                // Round item
                &::before {
                    right: 0;
                    left: auto;
                }

                // Line
                &::after {
                    border-left-width: 0;
                    border-left-style: none;
                    border-right-width: 4px;
                    border-right-style: solid;
                    left: auto;
                    right: 8px;
                }
            }
        }
    }

    details {
        summary:after {
            right: auto;
            left: 5px;
        }
    }


    .md-block-lead {
        @media (min-width: 960px) {
            margin: -13px 0 40px 50px;
        }
    }
}
