.header {

    @media(min-width: 960px) {

        &::before {
            position: absolute;
            left: calc((1300px / -2) + calc(100% / 2));
            right: auto;

            .browser-ie-11 & {
                left: calc(((100% - 1200px)/2) - 1px);
                right: auto;
            }
        }
    }
    @media(min-width: 1080px) {
            &::before {
                .browser-ie-11 & {
                left: calc(((100% - 1300px)/2) - 1px);
                right: auto;
            }
        }
    }
}

.header--slim {
    padding: 0 0 50px 0;

    &:after {
        left: 30px;
        right: auto;

        .browser-ie-11 & {
            left: 166px;
            right: auto;
        }
    }

    @media(min-width: 960px) {
        &:after {
            /** Perfect alignment: width: of this element, width of the element above */
            width: 80px;
            left: calc((980px / -2) + calc(100% / 2));
            right: auto;
        }
    }
}

.header__title {
    @media (min-width: 740px) {
        padding-right: 55px;
        padding-left: inherit;
    }

    @media (min-width: 960px) {
        padding-right: 155px;
        padding-left: inherit;
    }
}

.header__text {
    padding: 0 1.38em 2em 0;

    @media (min-width: 680px) {
        padding: 0 3em 3.5em 0;
    }

    @media (min-width: 960px) {
        padding: 0 2.6em 5em 0;
        margin-left: 424px;
        margin-right: 0;;
    }

    h1 {
        @media (min-width: 960px) {
            margin-left: 9rem;
            margin-right: 0;;
        }
    }
}
