.component-mediaelement {
    background-color: $color-RO_lichtblauw;
    width:100%;
    min-height:200px;


    details {
        padding-left: 14px;
        padding-right: 14px;
        border-bottom: rgba(0, 39, 131, 0.3) 1px solid;

        ::-webkit-details-marker {
            color: rgba(0, 39, 131, 0.6);
        }

        &:hover::-webkit-details-marker {
            color: rgba(0, 39, 131, 0.84);
        }

        ul {
            margin: 14px 0 14px 20px;
        }
    }
}

.mejs__container {
    background: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
    margin-bottom: 40px;
}

.component-mediaelement .mejs__controls {
    background: #154273;
    bottom: -40px;
    display: flex;
    height: 40px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 2px;
    position: absolute;
    width: 100%;
    z-index: 3;

    &:not([style*="display: none"]) {
        background: #154273;
    }
}