.component-mediaelement {
    background-color: #f3f3f3;

    details {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.mejs__container {
    background: #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
    margin-bottom: 40px;
}

.component-mediaelement .mejs__controls {
    background: #154273;
    bottom: -40px;
    display: flex;
    height: 40px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 2px;
    position: absolute;
    width: 100%;
    z-index: 3;

    &:not([style*="display: none"]) {
        background-color: #154273;
    }
}