<figure class="component-mediaelement">
    <video
        width="100%" height="340"
        controls="controls"
        preload="none"
        poster="{{relroot}}{{ site.data.videos[include.key].video-preview-image['default'] }}"
        data-audio-description='[{"src": "{{relroot}}{{ site.data.videos[include.key].mp3-voiceover-src['default'] }}", "type": "audio/mp3"}]'
        data-audio-description-voiceover="true"
    >
        <source type="video/mp4" src="{{relroot}}{{ site.data.videos[include.key].mp4-src['default'] }}" />
        {% for subtitle in site.data.videos[include.key].subtitles %}
            <track src="{{ subtitle.src }}" kind="subtitles" srclang="subtitle.lang" label="{{ site.data.languages[subtitle.lang].label }}">
        {% endfor %}
    </video>
    <details>
        <summary>{{ site.data.translations.mediaelement-download-title[page.lang] }}</summary>
        <div>
            <ul>
                <li>
                    <a href="{{relroot}}{{ site.data.videos[include.key].mp4-src['default'] }}" target="_blank">
                        {{ site.data.translations.mediaelement-download-mp4-video[page.lang] }}
                    </a>
                </li>
                <li>
                    <a href="{{relroot}}{{ site.data.videos[include.key].mp3-voiceover-src['default'] }}" target="_blank">
                        {{ site.data.translations.mediaelement-download-mp3-voiceover[page.lang] }}
                    </a>
                </li>
                {% for subtitle in site.data.videos[include.key].subtitles %}
                    <li>
                        <a href="{{relroot}}{{ subtitle.src }}">
                            {{ site.data.translations.mediaelement-download-subtitle[page.lang] }} ({{ site.data.languages[subtitle.lang].label }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </details>
    <details>
        <summary>{{ site.data.translations.mediaelement-transcript-title[page.lang] }}</summary>
        <div>
            {{ site.data.videos[include.key].transcript_md[page.lang] | markdownify }}
        </div>
    </details>
</figure>