.layout-app-badges{
  width: 100%;
  margin-bottom: 0.5em;
  list-style-type:none;

  img{
    height: 65px;
  }
  .app_badge_column__left {
    display: inline-block;
    @media (min-width: 740px) {
      margin-right: 0.25em;
    }
  }
  .app_badge_column__right {
    display: inline-block;
    @media (min-width: 740px) {
      margin-left: 0.25em;
    }
  }
}

.layout-app-badges--center-wrap {
  margin: 0 auto 1em;
  padding: 1em 1.6em;
  position: relative;
  text-align: center;

  h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 1.0em;
  }

  @media (min-width: 740px) {
    width: calc(100% - 48px);
    padding: 3.2em;
    h2 {
        font-size: 32px;
    }
  }

  @media (min-width: 960px) {
    max-width: 1190px;
  }
}

.layout-app-badges--background {
  background-color: #EFF7F9 /* lightblauw */;
}

.iOS {
  .play-store { display: none; }
}
.android {
  .app-store { display: none; }
}