.layout-app-badges{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.5em;

  img{
    height: 65px;
  }
  .app_badge_column__left {
    flex-direction: column;
    flex-basis: 100%;
    @media (min-width: 740px) {
      flex-basis: auto;
      margin-right: 0.5em;
    }
  }
  .app_badge_column__right {
    flex-direction: column;
    flex-basis: 100%;
    @media (min-width: 740px) {
        flex-basis: auto;
    }
  }
}

.layout-app-badges--stories-wrap {
  text-align: center;
  margin: auto;
  padding: 1rem 2.5rem 1rem 2.5em;

  h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 0.5em;
  }

  @media (min-width: 740px) {
    padding: 4rem 1.4rem 4rem 1.4em;
    h2 {
        font-size: 32px;
    }
    .app_badge_column__left, 
    .app_badge_column__right{
        margin-right: 0em;
        width: 50%;
    }
  }
}

.iOS {
  .play-store { display: none; }
}
.android {
  .app-store { display: none; }
}