{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}


<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}
<body>
  <main class="content-center content-center__in_app" id="content">
    <div class="content-block" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      {% if page.title %}<h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>{% endif %}
      {{ content }}
    </div>
  </main>

  {% if page.redirectToApp %}
    <script src="{{ site.baseurl }}/js/redirect-app.js?v={{ timeslug }}"></script>
  {% endif %}

</body>
</html>

