{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}

<body>
  {% if page.collection == 'questions-scanner' or page.domain == 'scanner' %}
    {% include header-slim.html for="scanner" %}
  {% else %}
    {% include header-slim.html %}
  {% endif %}
  
  <main class="content-center content-graphs" id="content">
    {% if page.showBreadCrumbs %}
      {% include breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    {% if page.showHomeBtn %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-home }}
        </a>
      </p>
    {% endif %}
    
    <div class="content-block content-block--graphs" {% if page.contentLang == 'en' %}lang="en" 
    dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      
      <div class="division">
        {{ content }}

        <p>De cijfers zijn bijgewerkt tot en met woensdag 20 april 2022. In verband met het stopzetten van CoronaMelder op 22 april 2022, worden de statistieken op deze pagina niet meer wekelijks bijgewerkt.</p>

        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Actieve gebruikers van CoronaMelder:</h2>
                <p><span class="number_highlight" id="active_users_number"></span>.</p>
                <p>De grafiek laat zien hoeveel mensen de CoronaMelder-app actief gebruiken.</p>
                <p>Je kunt meer informatie vinden op <a href="https://github.com/minvws/nl-covid19-notification-app-statistics">de GitHub pagina van het Ministerie van Volksgezondheid, Welzijn en Sport</a>.</p>
            </div>
            <div >
                <img src="{{ site.baseurl }}/img/coronamelder-graph-1.svg" alt="Grafiek actieve gebruikers van CoronaMelder per maand. De grafiek begint met iets meer dan 3 miljoen gebruikers in mei 2021, met een hoogtepunt in juni 2021. Daarna wordt een daling ingezet tot in januari 2022 iets minder dan 2 miljoen mensen CoronaMelder gebruiken, waarin het aantal gebruikers weer stijgt naar bijna 2,5 miljoen gebruikers." class="graph" width="480" height="320">
                <!-- <p>De data van de huidige maand is nog niet volledig.</p> -->

                <details class="details details-scroll">
                    <summary><h3>Brongegevens grafiek</h3></summary>
                    <table>
                        <caption>
                            Actieve gebruikers CoronaMelder
                        </caption>
                        <thead>
                            <tr>
                                <th>Maand</th>
                                <th>Aantal actieve gebruikers</th>
                            </tr>
                        </thead>
                        <tbody id="active_users_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
         
        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Mensen die anderen waarschuwden via CoronaMelder:</h2>
                <p><span class="number_highlight" id="warnings_number"></span>.</p>
                <p>Als je positief getest bent op corona, dan kun je dit vrijwillig aangeven in de app, samen met een medewerker van de GGD. De grafiek laat zien hoeveel mensen dit hebben gedaan na landelijke introductie van CoronaMelder op 10 oktober 2020.</p>
                <p><small>In verband met het stopzetten van CoronaMelder op 22 april 2022, worden de statistieken niet meer bijgewerkt.</small></p>
            </div>
            <div >
                <img src="{{ site.baseurl }}/img/coronamelder-graph-2.svg" alt="Grafiek verzonden notificaties via CoronaMelder per maand. Sinds oktober 2020 een gestage stijging, enigzins afgevlakt in de zomermaanden van 2021." class="graph" width="480" height="320">
                <!-- <p>De data van de huidige maand is nog niet volledig.</p> -->

                <details class="details details-scroll">
                    <summary><h3>Brongegevens grafiek</h3></summary>
                    <table>
                        <caption>
                            Aantal waarschuwingen via CoronaMelder
                        </caption>
                        <thead>
                            <tr>
                                <th>Maand</th>
                                <th>Aantal gedeelde sleutels per maand</th>
                                <th>Aantal gedeelde sleutels, cumulatief</th>
                            </tr>
                        </thead>
                        <tbody id="warnings_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>

        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Testaanvragen waar een notificatie aan vooraf ging</h2>
                <p><span class="number_highlight" id="tp_tested_total"></span>.</p>
                <p>Waarvan positieve uitslagen:<br /> 
                    <span class="number_highlight" id="tp_tested_positive"></span>.</p>
                <p>De grafiek laat zien hoeveel mensen zich lieten testen na een notificatie van CoronaMelder sinds ingebruikname van de app op 10 oktober 2020.</p>
                <p><small>In verband met het stopzetten van CoronaMelder op 22 april 2022, worden de statistieken niet meer bijgewerkt.</small></p>
            </div>
            <div class="plot">
                <div class="plot-legend">
                    <span class="plot-swatch">Testaanvragen met notificatie vooraf</span>
                    <span class="plot-swatch">Positief getest</span>
                </div>

                <img src="{{ site.baseurl }}/img/coronamelder-graph-3.svg" alt="Grafiek testaanvragen naar aanleiding van een notificatie. Een gemiddelde van rond de 18 duizend, met uitschieters naar boven in december 2020 met bijna 49 duizend testen, en minder testaanvragen in de zomermaanden van 2021. Het percentage positief getest neemt sinds december 2021 toe." class="graph" width="480" height="320">
                <!-- <p>De data van de huidige maand is nog niet volledig.</p> -->

                <details class="details details-scroll">
                    <summary><h3>Brongegevens grafiek</h3></summary>
                    <table>
                        <caption>
                            Testaanvragen na notificatie CoronaMelder
                        </caption>
                        <thead>
                            <tr>
                                <th>Maand</th>
                                <th>Aantal testaanvragen na ontvangen notificatie</th>
                                <th>Waarvan positief</th>
                            </tr>
                        </thead>
                        <tbody id="tests_positive_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>

        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Positieve testuitslagen waar een notificatie aan vooraf ging, met/zonder klachten</h2>
                <p><span class="number_highlight" id="total_tested_positive"></span>.</p>
                <p>Waarvan positief zonder klachten:<br /> 
                    <span class="number_highlight" id="tested_positive_without_complaints"></span>.</p>
                <p>De grafiek laat zien hoeveel mensen zich lieten testen na een notificatie van CoronaMelder, het coronavirus bleken te hebben, en hoeveel van hen geen klachten van het coronavirus hadden.</p>
                <p><small>In verband met het stopzetten van CoronaMelder op 22 april 2022, worden de statistieken niet meer bijgewerkt.</small></p>
            </div>
            <div class="plot">
                <div class="plot-legend">
                    <span class="plot-swatch">Klachten</span>
                    <span class="plot-swatch">Geen klachten</span>
                </div>

                <img src="{{ site.baseurl }}/img/coronamelder-graph-4.svg" alt="Grafiek testaanvragen waar een notificatie aan vooraf ging per maand, opgesplitst in aantal klachten en geen klachten. In de zomer van 2021 lieten minder mensen zich testen, en waren er ook weinig mensen positief zonder symptomen. Vanaf november neemt dit weer toe met een absoluut recordaantal aanvragen in maart 2022." class="graph" width="480" height="320">
                <!-- <p>De data van de huidige maand is nog niet volledig.</p> -->

                <details class="details details-scroll">
                    <summary><h3>Brongegevens grafiek</h3></summary>
                    <table>
                        <caption>
                            Testaanvragen na notificatie CoronaMelder
                        </caption>
                        <thead>
                            <tr>
                                <th>Maand</th>
                                <th>Aantal testaanvragen</th>
                                <th>Aantal testaanvragen waarvan positief getest</th>
                                <th>Aantal positief geteste personen zonder klachten</th>
                                <th>Percentage positief geen klachten</th>
                            </tr>
                        </thead>
                        <tbody id="tests_complaints_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>

        <div class=""> 
            <div>
                <h2>Effect CoronaMelder</h2>
                <p>
                    <span class="number_highlight">61%</span> van de mensen die een coronatest hebben aangevraagd na een notificatie van CoronaMelder, waren nog niet benaderd vanuit het reguliere bron- en contactonderzoek.
                </p>  
            </div>
        </div>

    </div>

  </main> 
    {% include footer.html %} 

        <script type="text/javascript" src="/js/statistics/1_active-users.js"></script>
        <script type="text/javascript" src="/js/statistics/2_shared-keys.js"></script>
        <script type="text/javascript" src="/js/statistics/3_positive-results-after-notification.js"></script>
        <script type="text/javascript" src="/js/statistics/4_positive-results-without-symptoms-after-notification.js"></script>

        <script type="text/javascript" src="/js/load-statistics.js"></script>
     
</body>
</html>
