{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}
<body>
  {% if page.collection == 'questions-scanner' or page.domain == 'scanner' %}
    {% include header-slim.html for="scanner" %}
  {% else %}
    {% include header-slim.html %}
  {% endif %}
  
  <main class="content-center" id="content">
    {% if page.showBreadCrumbs %}
      {% include breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    {% if page.showHomeBtn %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-home }}
        </a>
      </p>
    {% endif %}
    
    <div class="content-block content-block--graphs" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      
      <div class="division">
        {{ content }}

        <p>Figures up to and including  <span id="last_date">Sunday, February 6, 2022</span>.</p>

        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Active users of CoronaMelder:</h2>
                <p><span class="number_highlight" id="active_users_number">2,43</span>.</p>
                <p>The graph shows how many people are actively using the CoronaMelder app.</p>
                <p>You can find more information at <a href="https://github.com/minvws/nl-covid19-notification-app-statistics">the GitHub page of the Ministry of Health, Welfare and Sport</a>.</p>
            </div>
            <div id="CoronaMelder_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronamelder-actievegebruikers-stats.svg" alt="Grafiek actieve gebruikers van CoronaMelder per maand." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Graph source data</h3></summary>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Active users of CoronaMelder</th>
                            </tr>
                            <tr>
                                <th>Month</th>
                                <th>Number of active users</th>
                            </tr>
                        </thead>
                        <tbody id="active_users_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>

        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">People who warned others via CoronaMelder:</h2>
                <p><span class="number_highlight" id="warnings_number">302.706</span>.</p>
                <p>If you have tested positive for corona, you can voluntarily indicate this in the app, together with an employee of the GGD. The graph shows how many people have done this after the national introduction of CoronaMelder on October 10, 2020.</p>
            </div>
            <div id="CoronaMelder_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronamelder-waarschuwingen-stats-en.svg" alt="Grafiek actieve gebruikers van CoronaMelder per maand." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Graph source data</h3></summary>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Notifications sent from CoronaMelder</th>
                            </tr>
                            <tr>
                                <th>Month</th>
                                <th>Number of notifications sent</th>
                            </tr>
                        </thead>
                        <tbody id="warnings_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
        <div class="CoronaMelder_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Test applications after notification Corona Melder</h2>
                <p><span class="number_highlight" id="tests_total">265.936</span>.</p>
                <p>Of which tested positive<br /> 
                    <span class="number_highlight" id="tests_tested_positive">200.000</span>.</p>
                <p>The graph shows how many people had themselves tested after a notification from CoronaMelder since the app was put into use on October 10, 2020.</p>
            </div>
            <div id="CoronaMelder_downloads">
                <div class="plot-legend">
                    <span class="plot-swatch" style="--color:#157CCA;">Notifications</span>
                    <span class="plot-swatch" style="--color:#ec025f;">Tested positive</span>
                </div>

                <img src="{{ site.baseurl }}/img/coronamelder-testaanvragen-stats-en.svg" alt="Grafiek testaanvragen waar een notificatie aan vooraf ging per maand." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Graph source data</h3></summary>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">Test applications after notification Corona Melder</th>
                            </tr>
                            <tr>
                                <th>Month</th>
                                <th>Number of test applications</th>
                                <th>Of which tested positive</th>
                            </tr>
                        </thead>
                        <tbody id="tests_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>

        <div class=""> 
            <div>
                <h2>Effects of CoronaMelder</h2>
                <p>
                    <span class="number_highlight">64%</span> of the people who requested a corona test after a notification from CoronaMelder had not yet been approached from the regular source and contact research.
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Percentage of requested corona tests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>January 2022</td>
                            <td>64%</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    Redenen om CoronaMelder te hebben (zie laatste evaluatie onderzoek) + gemodeleerd effect op de R-waarde.
                </p>
            </div>
        </div>
    </div>

  </main> 
    {% include footer.html %} 

        <script type="text/javascript" src="/js/statistics/1_active-users.js"></script>
        <script type="text/javascript" src="/js/statistics/2_warning-notifications.js"></script>
        <script type="text/javascript" src="/js/statistics/3_positive-results-after-notification.js"></script>
        <script type="text/javascript" src="/js/statistics/4_approached-through-bco.js"></script>
    
    <script> 
        active_users_number = document.getElementById('active_users_number');

        warnings_number = document.getElementById('warnings_number');

        tests_total = document.getElementById('tests_total');
        tests_tested_positive = document.getElementById('tests_tested_positive');

        const active_users_table = document.getElementById("active_users_table");
        const warnings_table = document.getElementById("warnings_table");
        const tests_table = document.getElementById("tests_table");
         
        function constructTable(selectedData, selected_table) {
            // loop through all the data objects in the requested JSON
            for (let i = 0; i < selectedData.length; i++) {
                // store object in a variable
                statsObject = Object.values(selectedData[i]);

                // get the number of key value pairs
                let number_of_key_value_pairs = Object.values(selectedData[i]).length;

                function getColumnValue(valueID) {
                    if (statsObject[valueID].toString().length > 4) {
                        return (statsObject[valueID]/ 1000).toFixed(3);
                    } else {
                        return statsObject[valueID];
                    }
                }

                // create row string
                let statsRow = ``;
                 
                statsRow += `<tr>`;

                if (i == (selectedData.length -1)) {
                    statsIncomplete += `*`;
                } else {
                    statsIncomplete = ``;
                }

                statsRow += `<td>
                    ${statsObject[0].toLocaleString("en", { "month": "long", "year": "numeric" })} ${statsIncomplete}
                </td>`;

                for (let j = 1; j < number_of_key_value_pairs; j++) {
                    statsRow += `<td>${getColumnValue(j)}</td>`
                }

                statsRow += `</tr>`;
                selected_table.innerHTML += statsRow;

            }
        }

        function fillUpdateDate(selectedData) {
            for (let i = 0; i < selectedData.length; i++) {
                statsObject = Object.values(selectedData[i]);

                if (i == (selectedData.length -1)) {
                    document.getElementById("last_date").innerHTML = statsObject[0].toLocaleString("en", { 
                        "weekday": "long", 
                        "day": "numeric", 
                        "month": "long", 
                        "year": "numeric" 
                    });
                }
            }
        }

        function updateStatisticNumber(selectedData, selectedKey, selectedElement) {
            for (let i = 0; i < selectedData.length; i++) {
                // statsObject = Object.values(selectedData[i]);

                if (i == (selectedData.length -1)) {
                    // rightKey = selectedData[i][selectedKey];

                    function getValue(valueID) {
                        if (valueID.toString().length > 4) {
                            return (valueID / 1000).toFixed(3);
                        } else {
                            return valueID;
                        }
                    }
                
                    statisticNumber = getValue(selectedData[i][selectedKey]);
                }
            } 

            selectedElement.innerHTML = statisticNumber;
        }

        constructTable(active_users, active_users_table);
        constructTable(warning_notifications, warnings_table);
        constructTable(approached_through_bco, tests_table);

        fillUpdateDate(active_users);
 
        updateStatisticNumber(active_users, 'active_users', active_users_number);
        updateStatisticNumber(warning_notifications, 'notifications', warnings_number);
        updateStatisticNumber(approached_through_bco, 'tested_total', tests_total);       
        updateStatisticNumber(approached_through_bco, 'tested_positive', tests_tested_positive);
    </script>
</body>
</html>
